# Data Reporting Storytelling Case - iFood

--------------------
Notebook desenvolvido para o case do processo seletivo do ifood para vaga de Bussiness Data Analytics. 

O case conta com uma análise dos seus próprios dados de diversos aplicativos utilizados no dia-a-dia, como Spotify, iFood, Uber, Instagram, Youtube, entre outros, com o intuito de contar a sua história, criando assim uma visualização dos dados através do Tableau. 

Para mais informações acesso o meu repositório no GitHub, e visite o meu Dashboard. 

--------------------  

Este notebook conta com as seguintes sessões:
- Imports  
- Youtube  
    - Tratamento dos dados
    - Análise exploratória dos dados
- Spotify  
    - Tratamento dos dados
    - Análise exploratória dos dados
- Histórico do Google
  - Tratamento dos dados
  - Análise exploratória dos dados
- Analise dos períodos - Storytelling
- Referências

## Imports

In [ ]:
# !pip install -U pandas-profiling
# !pip install tzlocal
# !pip install --upgrade google-api-python-client
# !pip install isodate
# !pip install spotipy
# !pip install texthero

Collecting isodate
  Downloading isodate-0.6.0-py2.py3-none-any.whl (45 kB)
     |████████████████████████████████| 45 kB 1.8 MB/s
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from isodate) (1.15.0)
Installing collected packages: isodate
Successfully installed isodate-0.6.0

In [ ]:
# Importando as bibliotecas

import pandas as pd
from pandas import json_normalize
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pandas_profiling import ProfileReport
import pytz
from pathlib import Path
from datetime import datetime, timedelta
from google.colab import files
import json
import isodate


from googleapiclient.discovery import build  #API youtube

ModuleNotFoundError: ignored

Funções usadas por todos as plataformas

In [ ]:
# Função que define intervalos de horas do dia
def interval(x):
  if (x >= 0) and (x <= 5):
    return 'Madrugada'
  elif (x > 5) and (x <= 12):
    return 'Manhã'
  elif (x > 12) and (x <= 18):
    return 'Tarde'
  elif (x > 18) and (x <= 24):
    return 'Noite'
  
# Função que define intervalos de horas do dia personalizados
def custom_interval(x):
  if (x >= 0) and (x <= 6):
    return 'Dormindo'
  elif (x > 6) and (x <= 8):
    return 'Manhã'
  elif (x > 8) and (x <= 14):
    return 'Estágio'
  elif (x > 14) and (x <= 19):
    return 'Tarde'
  elif (x > 19) and (x <= 22):
    return 'Aula faculdade'
  elif (x > 22) and (x <= 24):
    return 'Noite'

# Funções que definem os locais onde estava morando de acordo com as datas
def local(x):
  if (x <= pd.to_datetime('2021-01-31')):
    return 'Belo Horizonte'
  elif (x >= pd.to_datetime('2021-02-01')) and (x <= pd.to_datetime('2021-03-22')):
    return 'Contagem'
  else:
    return "Betim"

## Youtube

### Tratamento dos dados

In [ ]:
# importando base de dados do histórico do youtube 

p_hist_youtube = Path(r'/content/drive/MyDrive/dados_case_ifood/histórico-de-visualização_youtube.json')

with p_hist_youtube.open('r', encoding='utf-8') as f:
    hist_youtube = json.loads(f.read())

df_youtube = pd.json_normalize(hist_youtube)

In [ ]:
df_youtube

Criando nova coluna com os nomes dos canais

In [ ]:
channel_name = []
for i in range (0,len(df_youtube)):
  n = df_youtube['subtitles'][i][0]['name']
  channel_name.append(n)

In [ ]:
df_youtube['channel_name'] = channel_name

Dropando colunas que não serão utilizadas, e dados faltantes.

In [ ]:
df_youtube.drop(columns=['details','header','subtitles','products'], inplace=True)
df_youtube.dropna(inplace=True)

In [ ]:
df_youtube.reset_index(inplace=True)
df_youtube.drop(columns='index', inplace=True)

Removendo 'Watched' do início dos títulos

In [ ]:
df_youtube['title'] = df_youtube['title'].str.replace('Watched', '')

In [ ]:
df_youtube.head()

Convertendo a coluna time para datetime

In [ ]:
my_timezone = pytz.timezone('America/Sao_Paulo')

In [ ]:
df_youtube['time'] = pd.to_datetime(df_youtube['time'])

In [ ]:
df_youtube['time'] = df_youtube['time'].dt.tz_convert(my_timezone)

#### API do Youtube

Chave da API

In [ ]:
api_key_google = #'AIzaSyC0d515xkXgpvyewtabGeum0_x6QJ5KFk8' # CHAVE 1 'AIzaSyBqvHliBGheXaWXy_SyWhbrfaYqYFH0qnk', CHAVE 2 'AIzaSyCAgpevQjPnvt85ZGscwpKhtvcK-q-W1sE'

Arquivo com lista dos nomes das categorias do Youtube

In [ ]:
cat = pd.read_csv('https://gist.githubusercontent.com/Vithork/7e9d0fe79796e4cfd27411d5e92df601/raw/c943eafd695f123bc0e5fc5167846e2fa4265fbc/csv')
cat = cat.set_index('name').number.to_dict()
cat = {str(v):k for k,v in cat.items()}
cat

Função para enviar requisição para a API do youtube, e retornar as categorias, tags e duração de cada vídeo.

In [ ]:
def req_youtube(api_key,df):
  youtube = build('youtube','v3', developerKey=api_key)

  # Listas que irá retornar
  categories = []
  tags = []
  durations = []
  req_videos = []

  def req_video():
    for i in range(len(df)):
      id = df['titleUrl'].str.slice(-11)
    for j in id:
      res = youtube.videos().list(part=['snippet','contentDetails'], id = j).execute()
      req_videos.append(res)
    return req_videos
  

  def category():
    for i in req_videos:
      try:
        categories.append(i['items'][0]['snippet']['categoryId'])
      except:
        categories.append('')
    return [cat.get(n,n) for n in categories]

  def tag():
    for i in req_videos:
      try:
        tags.append(i['items'][0]['snippet']['tags'])
      except:
        tags.append('')
    return tags

  def duration():
    for i in req_videos:
      try:
        durations.append(i['items'][0]['contentDetails']['duration'])
      except:
        durations.append('')
    return durations
    

  req_video()
  return category(), tag(), duration()

In [ ]:
category, tags, durations= req_youtube(api_key_google,df_youtube)

Adicionando novas colunas no df

In [ ]:
#Criando as novas colunas
df_youtube['category'] = category
df_youtube['tags'] = tags
df_youtube['duration'] = durations
df_youtube

In [ ]:
df_youtube.head()

In [ ]:
dt_inicial = '2020-07-03'
dt_final = '2021-07-03'
df_youtube = df_youtube.loc[(df_youtube['time'] >= dt_inicial) & (df_youtube['time'] <= dt_final)]

In [ ]:
df_youtube.reset_index(inplace=True)
df_youtube.drop(columns = 'index', inplace=True)
df_youtube

##### EXCLUIR ISSO DO NOTEBOOK

In [ ]:
spa = df_youtube.loc[((df_youtube['channel_name'] =='SAC DEP SPA')
               | (df_youtube['channel_name'] =='Thuy Truong Sac Dep Spa')
               | (df_youtube['channel_name'] =='Acne treatment Hương Đà Nẵng'))]

In [ ]:
df_youtube.drop(index=spa.index, inplace=True)
df_youtube.reset_index(inplace=True)
df_youtube.drop(columns = 'index', inplace=True)

##### DURATION

In [ ]:
df_youtube

In [ ]:
df_youtube.drop(index= (df_youtube[df_youtube.duration.isna()].index), inplace=True)

In [ ]:
df_youtube['duration'] = df_youtube['duration'].apply(isodate.parse_duration)
df_youtube['minutes'] = df_youtube['duration'].apply(timedelta.total_seconds)
df_youtube['minutes'] = round(df_youtube['minutes']/60,2)
df_youtube

In [ ]:
df_youtube['duration'].unique().tolist()

In [ ]:
df_youtube.info()

In [ ]:
df_youtube.loc[(df_youtube['channel_name'] == 'Programação Dinâmica') | (df_youtube['channel_name'] == 'Hashtag Treinamentos'), 'category'] = 'Education'

In [ ]:
df_youtube.describe()

                        duration      minutes
count                       1120  1120.000000
mean   0 days 00:30:31.473214285    30.524563
std    0 days 00:57:43.457675227    57.724236
min              0 days 00:00:00     0.000000
25%       0 days 00:05:35.250000     5.587500
50%       0 days 00:11:46.500000    11.775000
75%              0 days 00:24:28    24.467500
max              0 days 11:34:14   694.230000

##### Exportando os dados em .csv

In [ ]:
# Gerando CSV para não ser mais necessário requisitar a API do youtube
df_youtube.to_csv ('youtube_historico.csv', index = None, header=True) 
files.download('youtube_historico.csv')

### Análise dos dados do Youtube

.csv gerado após tratamento dos dados

In [ ]:
df_youtube = pd.read_csv('/content/drive/MyDrive/dados_case_ifood/youtube_historico.csv')

In [ ]:
my_timezone = pytz.timezone('America/Sao_Paulo')

In [ ]:
df_youtube['time'] = pd.to_datetime(df_youtube['time'], utc=True)

In [ ]:
df_youtube['time'] = df_youtube['time'].dt.tz_convert(my_timezone)

In [ ]:
df_youtube.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1120 entries, 0 to 1119
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         1120 non-null   object
 1   titleUrl      1120 non-null   object
 2   time          1120 non-null   datetime64[ns, America/Sao_Paulo]
 3   channel_name  1120 non-null   object
 4   category      1120 non-null   object
 5   tags          909 non-null    object
 6   duration      1120 non-null   object
 7   minutes       1120 non-null   float64
dtypes: datetime64[ns, America/Sao_Paulo](1), float64(1), object(6)
memory usage: 70.1+ KB

In [ ]:
profile_youtube = ProfileReport(df_youtube, title='Profiling Youtube',html={'style':{'full_width':True}})
profile_youtube.to_notebook_iframe()

##### Testando hipóteses

Educação é a categoria mais assistida?

In [ ]:
df_youtube['category'].value_counts().head()

Education               316
People & Blogs          256
Science & Technology    168
Music                   146
Entertainment           139
Name: category, dtype: int64

A quantidade de vídeos assistidos no Youtube aumentou nos últimos meses?

In [ ]:
df_youtube.time.dt.month_name().value_counts()

June         193
May          159
April        122
August       105
September     86
March         79
October       76
January       76
November      73
February      68
July          52
December      31
Name: time, dtype: int64

Quais canais mais assisti por mês

In [ ]:
# Canais mais assistidos
df_youtube['channel_name'].value_counts().head(10)

Programação Dinâmica      60
Hashtag Treinamentos      32
Eduardo Mendes            20
Seja Um Data Scientist    18
Deive Leonardo            17
TEDx Talks                15
Gêmeas do Inglês          13
Diolinux                  13
Maria Homem               12
Leticia Fagundes          12
Name: channel_name, dtype: int64

In [ ]:
# Três canais mais vistos por mês
df_youtube.groupby([df_youtube['time'].dt.month,'channel_name'], as_index=False)\
                                                    .size()\
                                                    .sort_values('size', ascending=False)\
                                                    .groupby('time', as_index=False)\
                                                    .head(3)\
                                                    .sort_values('time')

     time                     channel_name  size
43      1                     RDK PINTURAS     2
8       1                   Deive Leonardo     3
5       1                    Clara Bousada     4
63      2  Abhishek Patel - WEBEON SYSTEMS     6
93      2                       TEDx Talks    10
84      2                      Papo de Dev     6
114     3                   Eduardo Mendes    10
124     3                  Ignorância Zero     4
130     3             Programação Dinâmica     7
203     4             Programação Dinâmica     9
153     4               Bóson Treinamentos     9
166     4                          EdukaTI     6
304     5           Seja Um Data Scientist     7
284     5                    Marcio Gondim     5
257     5      Equaciona Com Paulo Pereira     5
383     6             Programação Dinâmica    38
390     6                      Simplilearn     6
336     6                         Diolinux    13
449     7      RAFAEL RODRIGUES - CROSSFAT     7
437     7                  Giselle Marciel     5
447     7                     Pedro Sobral     6
478     8                 Gêmeas do Inglês     6
501     8                    Rayssa Eckert     5
469     8                          Eurekka     5
555     9           Seja Um Data Scientist     6
540     9                Luciana de Farias     7
536     9                 Leticia Fagundes     7
582    10                 Gêmeas do Inglês     4
584    10               Henrique e Juliano     4
583    10             Hashtag Treinamentos    16
635    11                Urban Extractions     7
627    11                  Nagel Podologia     6
615    11             Hashtag Treinamentos    16
666    12                         balta.io     2
648    12                   Deive Leonardo     3
663    12                    Renato Albani     2

Tempo assistido por categoria

In [ ]:
tempo_ass_cat = df_youtube.groupby(['category'], as_index=False).agg({'minutes':'sum'}).sort_values('minutes', ascending=False)
tempo_ass_cat['hour'] = tempo_ass_cat['minutes']/60
tempo_ass_cat['days'] = tempo_ass_cat['hour']/24
tempo_ass_cat

                category   minutes        hour      days
1              Education  11819.06  196.984333  8.207681
6                  Music   6254.57  104.242833  4.343451
2          Entertainment   5493.84   91.564000  3.815167
9         People & Blogs   5371.98   89.533000  3.730542
11  Science & Technology   4364.64   72.744000  3.031000
5          Howto & Style    335.11    5.585167  0.232715
8   Nonprofits &Activism    238.88    3.981333  0.165889
3       Film & Animation     97.31    1.621833  0.067576
4                 Gaming     75.71    1.261833  0.052576
7        News & Politics     38.83    0.647167  0.026965
10        Pets & Animals     36.31    0.605167  0.025215
13       Travel & Events     34.04    0.567333  0.023639
0                     23     26.63    0.443833  0.018493
12                Sports      0.60    0.010000  0.000417

In [ ]:
#tempo assistido por canais 
tempo_ass_can = df_youtube.groupby(['channel_name'], as_index=False).agg({'minutes':'sum'}).sort_values('minutes', ascending=False).head(10)
tempo_ass_can

               channel_name  minutes
421             Simplilearn  2006.50
141          Eduardo Mendes  1583.68
415  Seja Um Data Scientist  1264.06
187         Giselle Marciel  1227.03
232             Intellipaat   978.60
377    Programação Dinâmica   966.14
206    Hashtag Treinamentos   916.01
43          Bee Lab Academy   910.65
6       AI Girls Comunidade   836.07
513          iFood Universo   722.99

Será que minhas categorias/canais mudaram durante os meses?

In [ ]:
df_youtube.groupby([df_youtube['time'].dt.month,'category'], as_index=False)\
                                                    .size()\
                                                    .sort_values('size', ascending=False)\
                                                    .groupby('time', as_index=False)\
                                                    .head(3)\
                                                    .sort_values('time')

    time              category  size
5      1        People & Blogs    16
1      1         Entertainment    16
0      1             Education    20
13     2  Science & Technology    12
9      2             Education    17
12     2        People & Blogs    19
23     3  Science & Technology     9
15     3         Entertainment    10
14     3             Education    37
28     4        People & Blogs    30
25     4             Education    29
29     4  Science & Technology    38
38     5  Science & Technology    30
37     5        People & Blogs    45
30     5             Education    40
42     6             Education    63
46     6                 Music    56
48     6  Science & Technology    35
51     7         Entertainment    14
54     7        People & Blogs    14
53     7                 Music    16
59     8        People & Blogs    40
55     8             Education    19
58     8                 Music    17
69     9  Science & Technology     9
62     9             Education    29
68     9        People & Blogs    32
72    10                 Music    22
74    10        People & Blogs    11
70    10             Education    29
83    11        People & Blogs    19
77    11             Education    26
78    11         Entertainment    11
95    12  Science & Technology     7
88    12         Entertainment     8
93    12        People & Blogs     4

Quais horários mais acesso dentre os períodos do dia e quais categorias mais acesso neles.

Incluindo novas colunas de acordo com as [funções declaradas anteriormente](https://colab.research.google.com/drive/1uj5mC1E4XQmdGEGN6ND9-X3s5Cz1tj83#scrollTo=UEPNew_Bc1D2&line=6&uniqifier=1)

In [ ]:
# Incluindo as colunas de acordo com os intervalos
df_youtube['interval'] = df_youtube['time'].dt.hour.apply(interval)
df_youtube['customInterval'] = df_youtube['time'].dt.hour.apply(custom_interval)

# incluindo a coluna de local de acordo com a data
df_youtube['local'] = df_youtube['time'].dt.date.apply(local)

df_youtube.sample(10)

                                                 title  ...           local
640   Como usar o NOTION // Começando do ZERO e Con...  ...  Belo Horizonte
149   Como Corrigir Erro 0xc0000225 No Windows 10 A...  ...           Betim
107          Ventania - Só para loucos(Album completo)  ...           Betim
731              Impulso Talks: Desenvolvimento Mobile  ...  Belo Horizonte
629   how I organize my entire life with Notion | m...  ...  Belo Horizonte
547             Curso Python #01 - Seja um Programador  ...        Contagem
61    LENDO arquivo Zip SEM descompactar  + Pandas ...  ...           Betim
993   🐶 Border Collie pastoreando e mostrando muita...  ...  Belo Horizonte
165   [Webscraping] Análise de Sentimentos no Twitt...  ...           Betim
370   Introdução à Linguagem SQL (PostgreSQL) - Com...  ...           Betim

[10 rows x 11 columns]

In [ ]:
#Quais horários mais acesso
df_youtube.groupby(['interval'], as_index=False).size().sort_values('size', ascending=False)

    interval  size
2      Noite   344
3      Tarde   311
1      Manhã   289
0  Madrugada   176

In [ ]:
df_youtube.groupby(['customInterval'], as_index=False).size().sort_values('size', ascending=False)

   customInterval  size
2         Estágio   362
5           Tarde   273
0  Aula faculdade   203
1        Dormindo   176
4           Noite    78
3           Manhã    28

In [ ]:
#Quais categorias mais acesso por horário
df_youtube.groupby(['interval','category'], as_index=False)\
                                                    .size()\
                                                    .sort_values('size', ascending=False)\
                                                    .groupby('interval', as_index=False)\
                                                    .head(3)\
                                                    .sort_values('interval')

     interval              category  size
8   Madrugada        People & Blogs    67
1   Madrugada             Education    43
2   Madrugada         Entertainment    24
12      Manhã             Education    79
19      Manhã        People & Blogs    62
21      Manhã  Science & Technology    51
23      Noite             Education    99
31      Noite        People & Blogs    60
28      Noite                 Music    58
36      Tarde             Education    95
44      Tarde        People & Blogs    67
46      Tarde  Science & Technology    45

Quantidade de vídeos assistidos por:  
- Mês
- Dia da semana 
- Datas - 10 dias

In [ ]:
#Por mês
df_youtube.time.dt.month_name().value_counts()

June         193
May          159
April        122
August       105
September     86
March         79
October       76
January       76
November      73
February      68
July          52
December      31
Name: time, dtype: int64

In [ ]:
# Por dia da semana
df_youtube.time.dt.day_name().value_counts()

Monday       194
Wednesday    182
Tuesday      170
Thursday     155
Sunday       149
Saturday     147
Friday       123
Name: time, dtype: int64

In [ ]:
#Por dia - 10
df_youtube.time.dt.date.value_counts().head(10)

2021-05-02    37
2021-04-12    25
2021-06-15    20
2021-06-12    20
2020-11-03    18
2021-04-21    17
2020-11-18    17
2021-01-23    16
2020-08-06    16
2021-06-10    15
Name: time, dtype: int64

Categorias mais assistidas por local

In [ ]:
df_youtube.groupby(['local','category'], as_index=False)\
                                                    .size()\
                                                    .sort_values('size', ascending=False)\
                                                    .groupby('local', as_index=False)\
                                                    .head(3)\
                                                    .sort_values('local')

             local              category  size
9   Belo Horizonte        People & Blogs   136
1   Belo Horizonte             Education   130
2   Belo Horizonte         Entertainment    81
14           Betim             Education   143
23           Betim  Science & Technology   108
21           Betim        People & Blogs    99
27        Contagem             Education    43
34        Contagem        People & Blogs    21
28        Contagem         Entertainment    19

Tempo total em minutos que assisti as 3 categorias mais vistas por local

In [ ]:
df_youtube.groupby(['local','category'], as_index=False)\
                                                    .agg({'minutes':'sum'})\
                                                    .sort_values('minutes', ascending=False)\
                                                    .groupby('local', as_index=False)\
                                                    .head(3)\
                                                    .sort_values('local')

             local              category  minutes
1   Belo Horizonte             Education  4219.47
6   Belo Horizonte                 Music  3690.11
9   Belo Horizonte        People & Blogs  2736.58
14           Betim             Education  6330.60
23           Betim  Science & Technology  2564.45
19           Betim                 Music  2532.78
28        Contagem         Entertainment  1688.46
27        Contagem             Education  1268.99
35        Contagem  Science & Technology  1008.51

Quantidade de vídeos assistidos por local

In [ ]:
df_youtube['local'].value_counts()

Betim             501
Belo Horizonte    499
Contagem          120
Name: local, dtype: int64

Quantidade de vídeos assistidos por intervalo do dia em cada local

In [ ]:
df_youtube.groupby(['local','interval'], as_index=False)\
                                                    .size()\
                                                    .sort_values('size', ascending=False)\
                                                    .groupby('local', as_index=False)\
                                                    .head()\
                                                    .sort_values('local')

             local   interval  size
2   Belo Horizonte      Noite   157
3   Belo Horizonte      Tarde   143
1   Belo Horizonte      Manhã   111
0   Belo Horizonte  Madrugada    88
5            Betim      Manhã   154
6            Betim      Noite   154
7            Betim      Tarde   122
4            Betim  Madrugada    71
11        Contagem      Tarde    46
10        Contagem      Noite    33
9         Contagem      Manhã    24
8         Contagem  Madrugada    17

Tempo em minutos dos vídeos assistidos por intervalo do dia em cada local

In [ ]:
df_youtube.groupby(['local','interval'], as_index=False).agg({'minutes':'sum'}).sort_values(['local', 'minutes'])

             local   interval  minutes
0   Belo Horizonte  Madrugada  2386.94
3   Belo Horizonte      Tarde  2675.73
1   Belo Horizonte      Manhã  2831.72
2   Belo Horizonte      Noite  6306.81
4            Betim  Madrugada   844.17
5            Betim      Manhã  3186.05
6            Betim      Noite  4611.75
7            Betim      Tarde  6767.11
8         Contagem  Madrugada   329.76
11        Contagem      Tarde  1067.82
10        Contagem      Noite  1076.44
9         Contagem      Manhã  2103.21

Quantidade de vídeos assistidos por canais mais acessados em cada local

In [ ]:
df_youtube.groupby(['local','channel_name'], as_index=False)\
                                                    .size()\
                                                    .sort_values('size', ascending=False)\
                                                    .groupby('local', as_index=False)\
                                                    .head(3)\
                                                    .sort_values('local')

              local          channel_name  size
89   Belo Horizonte  Hashtag Treinamentos    32
87   Belo Horizonte      Gêmeas do Inglês    13
42   Belo Horizonte        Deive Leonardo    13
443           Betim  Programação Dinâmica    52
322           Betim              Diolinux    13
328           Betim        Eduardo Mendes    12
575        Contagem            TEDx Talks    10
547        Contagem        Eduardo Mendes     8
566        Contagem  Programação Dinâmica     6

Tempo em dias que passei assistindo em cada local

In [ ]:
df_youtube.groupby(['local'], as_index=False).agg({'duration':'sum'}).sort_values('duration', ascending=False)

            local                                           duration
1           Betim  0 days 00:10:230 days 07:24:470 days 02:55:520...
2        Contagem  0 days 00:09:520 days 00:16:060 days 00:15:230...
0  Belo Horizonte  0 days 00:00:000 days 00:03:140 days 05:05:250...

## Spotify

### Tratamento dos dados

In [ ]:
df_spotify = pd.read_json('/content/drive/MyDrive/dados_case_ifood/StreamingHistory0.json')

In [ ]:
df_spotify.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7376 entries, 0 to 7375
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   endTime     7376 non-null   object
 1   artistName  7376 non-null   object
 2   trackName   7376 non-null   object
 3   msPlayed    7376 non-null   int64
dtypes: int64(1), object(3)
memory usage: 230.6+ KB

In [ ]:
df_spotify

               endTime  ... msPlayed
0     2020-07-15 01:23  ...   313360
1     2020-07-15 02:12  ...   292986
2     2020-07-15 02:13  ...    60373
3     2020-07-15 02:14  ...    44040
4     2020-07-15 02:15  ...    61546
...                ...  ...      ...
7371  2021-07-15 19:01  ...   271800
7372  2021-07-15 19:04  ...   154000
7373  2021-07-15 19:08  ...   270461
7374  2021-07-15 19:11  ...   169226
7375  2021-07-15 19:14  ...   208687

[7376 rows x 4 columns]

Transformando a coluna 'endTime' em datetime

In [ ]:
df_spotify['endTime'] = pd.to_datetime(df_spotify['endTime'])

Adicionando coluna com tempo em minutos

In [ ]:
df_spotify['minPlayed'] = round(df_spotify['msPlayed']/60000,2)

Incluindo novas colunas de acordo com as [funções declaradas anteriormente](https://colab.research.google.com/drive/1uj5mC1E4XQmdGEGN6ND9-X3s5Cz1tj83#scrollTo=UEPNew_Bc1D2&line=6&uniqifier=1)

In [ ]:
df_spotify['interval'] = df_spotify['endTime'].dt.hour.apply(interval)
df_spotify['customInterval'] = df_spotify['endTime'].dt.hour.apply(custom_interval)
df_spotify['local'] = df_spotify['endTime'].dt.date.apply(local)

df_spotify.sample(10)

                 endTime       artistName  ... customInterval           local
6814 2021-06-10 14:39:00      Pomplamoose  ...        Estágio           Betim
6182 2021-05-07 10:23:00         The Fray  ...        Estágio           Betim
4293 2021-02-11 12:25:00            Rubel  ...        Estágio        Contagem
3630 2020-12-23 15:01:00     Mariah Carey  ...          Tarde  Belo Horizonte
2194 2020-09-27 15:21:00        Sam Smith  ...          Tarde  Belo Horizonte
658  2020-08-03 18:36:00  Michele Morrone  ...          Tarde  Belo Horizonte
3157 2020-11-13 11:49:00   Isadora Pompeo  ...        Estágio  Belo Horizonte
4205 2021-02-08 14:59:00    Yasmin Santos  ...        Estágio        Contagem
6677 2021-06-06 04:18:00      Alicia Keys  ...       Dormindo           Betim
4280 2021-02-11 02:45:00     Alexander 23  ...       Dormindo        Contagem

[10 rows x 8 columns]

Separando podcasts e músicas

In [ ]:
df_spotify_podcast = df_spotify.loc[df_spotify['minPlayed'] > 20]
df_spotify_podcast.reset_index(inplace=True)
df_spotify_podcast.drop(columns='index', inplace=True)
df_spotify_podcast

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

              endTime             artistName  ...  customInterval           local
0 2020-10-03 17:42:00  História em Meia Hora  ...           Tarde  Belo Horizonte
1 2021-02-06 03:37:00    Hipsters Ponto Tech  ...        Dormindo        Contagem
2 2021-03-29 12:18:00    Hipsters Ponto Tech  ...         Estágio           Betim
3 2021-03-29 13:20:00    Hipsters Ponto Tech  ...         Estágio           Betim
4 2021-05-07 13:08:00          Café da Manhã  ...         Estágio           Betim
5 2021-05-10 23:19:00         Autoconsciente  ...           Noite           Betim
6 2021-06-05 21:28:00              Hangar 18  ...  Aula faculdade           Betim
7 2021-07-10 19:17:00           Data Hackers  ...           Tarde           Betim

[8 rows x 8 columns]

In [ ]:
df_spotify_music = df_spotify.loc[df_spotify['minPlayed'] < 20]
df_spotify_music.reset_index(inplace=True)
df_spotify_music.drop(columns='index', inplace=True)
df_spotify_music

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

                 endTime             artistName  ... customInterval           local
0    2020-07-15 01:23:00           Casa Worship  ...       Dormindo  Belo Horizonte
1    2020-07-15 02:12:00  Johann Sebastian Bach  ...       Dormindo  Belo Horizonte
2    2020-07-15 02:13:00  Johann Sebastian Bach  ...       Dormindo  Belo Horizonte
3    2020-07-15 02:14:00  Johann Sebastian Bach  ...       Dormindo  Belo Horizonte
4    2020-07-15 02:15:00  Johann Sebastian Bach  ...       Dormindo  Belo Horizonte
...                  ...                    ...  ...            ...             ...
7363 2021-07-15 19:01:00                  Adele  ...          Tarde           Betim
7364 2021-07-15 19:04:00               Ollie MN  ...          Tarde           Betim
7365 2021-07-15 19:08:00           Anson Seabra  ...          Tarde           Betim
7366 2021-07-15 19:11:00              Sam Smith  ...          Tarde           Betim
7367 2021-07-15 19:14:00                JP Saxe  ...          Tarde           Betim

[7368 rows x 8 columns]

Para a análise irei usar apenas as músicas

### Analisando os dados

Artistas que mais escutei nesse período

In [ ]:
df_spotify_music['artistName'].value_counts().head(10)

Jorge & Mateus           215
Johann Sebastian Bach    143
Henrique & Juliano       130
Luan Santana              94
Colo de Deus              92
Matheus & Kauan           75
Antonio Vivaldi           75
Imagine Dragons           73
Marília Mendonça          71
DUDA BEAT                 71
Name: artistName, dtype: int64

Dias que mais escutei música no ano

In [ ]:
time_day = (df_spotify_music[['endTime','minPlayed']].groupby([df_spotify_music['endTime'].dt.date])
                                                                        .agg({'minPlayed':'sum'})
                                                                        .sort_values('minPlayed', ascending=False)
                                                                        .head(10))
time_day['hPlayed'] = time_day['minPlayed']/60
time_day

            minPlayed   hPlayed
endTime
2020-09-26     510.28  8.504667
2021-05-07     467.29  7.788167
2020-08-03     462.37  7.706167
2021-07-15     409.38  6.823000
2020-09-12     391.34  6.522333
2020-10-08     299.64  4.994000
2020-07-30     297.01  4.950167
2021-05-08     276.54  4.609000
2020-07-24     256.83  4.280500
2021-06-24     254.00  4.233333

Média de horas que passei ouvindo música

In [ ]:
time_day.mean()/60

minPlayed    6.041133
hPlayed      0.100686
dtype: float64

Nos dias que mais ouvi música, ouvi em média 6h

 Em média quanto tempo escuto por mês spotify?

In [ ]:
# Tempo em horas que passo escutando música no spotify por mês
df_spotify_music.groupby([df_spotify_music['endTime'].dt.month]).agg({'minPlayed':'sum'}).round(2)

         minPlayed
endTime
1          1062.78
2           560.85
3          1538.74
4          2270.53
5          2373.25
6          1642.31
7          2411.83
8          2122.07
9          2536.72
10         2116.69
11         1194.27
12          886.82

Quantidade de faixas executadas por mês

In [ ]:
# faixas por mês
df_spotify_music.groupby([df_spotify_music['endTime'].dt.month], as_index=False).size()

    endTime  size
0         1   414
1         2   247
2         3   529
3         4   918
4         5   766
5         6   560
6         7   772
7         8   879
8         9   808
9        10   675
10       11   440
11       12   360

Das faixas mais reproduzidas, quanto tempo ouvi cada uma?

In [ ]:
# Faixas mais reproduzidas
df_spotify_music[['trackName']].value_counts().head(10)

trackName
Girassol                                32
Lance Individual                        32
Ousado Amor                             25
Minha Vez                               24
Alô Ambev (Segue Sua Vida) - Ao Vivo    22
Me Leva Pra Casa                        22
Paradigmas                              21
Deus e Eu - Ao Vivo                     21
Someone You Loved                       21
Eu Te Vejo Em Tudo                      21
dtype: int64

In [ ]:
df_spotify_music.groupby(['trackName'], as_index=False).agg({'minPlayed':'sum'}).sort_values(by='minPlayed', ascending=False).head(10)

                    trackName  minPlayed
1980         Me Leva Pra Casa     129.62
58               A Casa É Sua     107.09
2447              Ousado Amor     106.37
1131       Eu Te Vejo Em Tudo     105.79
305         Aquieta Minh'alma      95.28
901       Deus e Eu - Ao Vivo      89.07
2063                Minha Vez      80.25
680     Colo de Mãe - Ao Vivo      77.11
1344                 Girassol      69.09
2878  Romanos 8:28 - Acústico      67.62

Podemos observar uma diferença das faixas mais reprozidas por número de vezes e por minutos, isso acontece graças ao tempo de cada música

Artistas mais ouvidos por mês

In [ ]:
 df_spotify_music[['endTime','artistName']].groupby([df_spotify_music['endTime'].dt.month, 'artistName'],as_index=False)\
                                                    .size().sort_values('size', ascending=False)\
                                                    .groupby('endTime', as_index=False)\
                                                    .head(1)\
                                                    .sort_values('endTime')

      endTime             artistName  size
31          1              DUDA BEAT    25
258         2        Matheus & Kauan     8
313         3        Antonio Vivaldi    75
694         4         Jorge & Mateus   105
1026        5     Henrique & Juliano    65
1481        6              Sam Smith    40
1704        7  Johann Sebastian Bach    98
2103        8           Luan Santana    53
2555        9             Supercombo    28
2746       10         Jorge & Mateus    19
2963       11           Colo de Deus    37
3238       12             Maria Gadú    17

Faixas mais executadas por mês

In [ ]:
 df_spotify_music[['endTime','trackName']].groupby([df_spotify_music['endTime'].dt.month, 'trackName'],as_index=False)\
                                                    .size()\
                                                    .sort_values('size', ascending=False)\
                                                    .groupby('endTime', as_index=False)\
                                                    .head(1)\
                                                    .sort_values('endTime')

      endTime                  trackName  size
143         1         Nem Doeu - Ao Vivo     8
317         2  Coração Na Cama - Ao Vivo     7
509         3  Batom de Cereja - Ao Vivo     6
1348        4                 Paradigmas    12
1730        5                 De 1 Até 3     8
2559        6               Stay With Me     4
2927        7                       July     5
3932        8      boa memória - ao vivo     7
4155        9                   Girassol     5
4679       10        Deus e Eu - Ao Vivo     7
5159       11         Desperta - Ao Vivo     6
5525       12                   Girassol     5

Analisando pelo local

Os três artistas mais ouvidos por mês, e por local

In [ ]:
 df_spotify_music[['endTime','artistName','local','minPlayed']].groupby(['local',df_spotify_music['endTime'].dt.month, 'artistName'])\
                                                    .agg({'minPlayed':'sum'})\
                                                    .sort_values('minPlayed', ascending=False)\
                                                    .groupby('endTime', as_index=False)\
                                                    .head(3)\
                                                    .sort_values('endTime')

                                              minPlayed
local          endTime artistName
Belo Horizonte 1       Jorge & Mateus             36.55
                       Luíza & Maurílio           38.10
                       DUDA BEAT                  48.44
Contagem       2       Hugo & Guilherme           17.40
                       Israel Subira              19.64
                       Wesley Safadão             18.41
               3       Antonio Vivaldi           186.06
                       Sleeping At Last           34.07
                       Imagine Dragons            98.87
Betim          4       Matheus & Kauan            47.89
                       Colo de Deus               54.12
                       Jorge & Mateus            267.13
               5       João Figueiredo            63.96
                       Henrique & Juliano        168.24
                       Billie Eilish              71.00
               6       Pomplamoose                69.15
                       Sam Smith                 129.75
                       Imagine Dragons           108.54
               7       Olivia Rodrigo             44.79
Belo Horizonte 7       Johann Sebastian Bach     219.45
Betim          7       Jorge & Mateus             39.21
Belo Horizonte 8       Bárbara Dias               33.25
                       Luan Santana              110.61
                       Johann Sebastian Bach      70.09
               9       Supercombo                 91.31
                       BTS                        55.74
                       Fresno                     63.89
               10      Jorge & Mateus             57.83
                       Ministério Zoe             64.80
                       Colo de Deus               96.29
               11      Casa Worship               35.35
                       Supercombo                 77.09
                       Colo de Deus               69.89
               12      Ariana Grande              35.94
                       Luan Santana               31.92
                       Sam Smith                  30.99

3 artistas mais ouvidos por local

In [ ]:
 df_spotify_music[['artistName','local','minPlayed']].groupby(['local', 'artistName'])\
                                                    .agg({'minPlayed':'sum'})\
                                                    .sort_values('minPlayed', ascending=False)\
                                                    .groupby('local', as_index=False)\
                                                    .head(3)\
                                                    .sort_values('local')

                                      minPlayed
local          artistName
Belo Horizonte Johann Sebastian Bach     297.54
               Colo de Deus              227.31
               Luan Santana              186.75
Betim          Jorge & Mateus            329.89
               Henrique & Juliano        208.37
               Sam Smith                 158.86
Contagem       Antonio Vivaldi           186.06
               Imagine Dragons            98.87
               Sleeping At Last           34.07

Tempo em minutos que escutei por intervalo do dia em cada local

In [ ]:
 df_spotify_music[['interval','local','minPlayed']].groupby(['local', 'interval'])\
                                                    .agg({'minPlayed':'sum'})\
                                                    .sort_values('minPlayed', ascending=False)\
                                                    .groupby('local', as_index=False)\
                                                    .head()\
                                                    .sort_values('local')

                          minPlayed
local          interval
Belo Horizonte Tarde        5159.68
               Madrugada    3487.27
               Manhã        1685.62
               Noite        1289.85
Betim          Tarde        3093.05
               Madrugada    1774.96
               Manhã        1202.69
               Noite        1143.53
Contagem       Noite         577.11
               Tarde         464.52
               Madrugada     460.56
               Manhã         378.02

## Chrome

### Tratando os dados

In [ ]:
n = Path(r'/content/drive/MyDrive/dados_case_ifood/BrowserHistory.json')

with n.open('r', encoding='utf-8') as f:
    nc = json.loads(f.read())

df_nav = pd.json_normalize(nc, 'Browser History')

In [ ]:
df_nav.head()

                          favicon_url  ...         time_usec
0  https://www.google.com/favicon.ico  ...  1626545547219512
1  https://www.google.com/favicon.ico  ...  1626545540335322
2  https://www.google.com/favicon.ico  ...  1626545535415458
3  https://www.google.com/favicon.ico  ...  1626545530977611
4  https://www.google.com/favicon.ico  ...  1626545525178802

[5 rows x 6 columns]

In [ ]:
df_nav.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57410 entries, 0 to 57409
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   favicon_url      50037 non-null  object
 1   page_transition  57410 non-null  object
 2   title            57410 non-null  object
 3   url              57410 non-null  object
 4   client_id        57410 non-null  object
 5   time_usec        57410 non-null  int64
dtypes: int64(1), object(5)
memory usage: 2.6+ MB

Transformando a coluna 'time_usec' em datetime

In [ ]:
df_nav['time_usec'] = (df_nav['time_usec']
                          .apply(lambda x : pd.to_datetime(datetime.fromtimestamp(x/1e6),
                          #.strftime('%d/%m/%Y'),
                          unit='ns', errors='ignore'))
                          )
df_nav

                                             favicon_url  ...                  time_usec
0                     https://www.google.com/favicon.ico  ... 2021-07-17 18:12:27.219512
1                     https://www.google.com/favicon.ico  ... 2021-07-17 18:12:20.335322
2                     https://www.google.com/favicon.ico  ... 2021-07-17 18:12:15.415458
3                     https://www.google.com/favicon.ico  ... 2021-07-17 18:12:10.977611
4                     https://www.google.com/favicon.ico  ... 2021-07-17 18:12:05.178802
...                                                  ...  ...                        ...
57405                 https://www.google.com/favicon.ico  ... 2020-07-17 18:41:43.414748
57406                                                NaN  ... 2020-07-17 18:37:42.859231
57407  https://static.wixstatic.com/media/7a602c_b438...  ... 2020-07-17 18:33:50.969899
57408                 https://www.google.com/favicon.ico  ... 2020-07-17 18:33:45.363277
57409                                                NaN  ... 2020-07-17 18:33:31.241218

[57410 rows x 6 columns]

Dropando valores nulos, algumas colunas que não serão utilizadas, e outliers

In [ ]:
df_nav.dropna(inplace=True)
dropar = df_nav.loc[(df_nav['url'] == 'https://mail.google.com/mail/u/0/#inbox') | (df_nav['title'] == '(20+) Facebook')]
df_nav.drop(columns=['page_transition','client_id'], index=dropar.index, inplace=True)

In [ ]:
df_nav.reset_index(inplace=True)
df_nav.drop(columns=['index','favicon_url'], inplace=True)
df_nav

                                                   title  ...                  time_usec
0                                         Google Takeout  ... 2021-07-17 18:12:27.219512
1                                         Google Takeout  ... 2021-07-17 18:12:20.335322
2                                         Google Takeout  ... 2021-07-17 18:12:15.415458
3                                         Google Takeout  ... 2021-07-17 18:12:10.977611
4                                         Google Takeout  ... 2021-07-17 18:12:05.178802
...                                                  ...  ...                        ...
46866                         Pacote Literário: Resenhas  ... 2020-07-17 18:46:45.178484
46867    Pacote Literário: Trilogia Peça-me o que quiser  ... 2020-07-17 18:41:55.332872
46868             peça-me o que quiser - Pesquisa Google  ... 2020-07-17 18:41:43.414748
46869  RESENHA: A Joia - e a trilogia Cidade Solitári...  ... 2020-07-17 18:33:50.969899
46870                     a joia livro - Pesquisa Google  ... 2020-07-17 18:33:45.363277

[46871 rows x 3 columns]

In [ ]:
df_nav.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46871 entries, 0 to 46870
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      46871 non-null  object
 1   url        46871 non-null  object
 2   time_usec  46871 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 1.1+ MB

Incluindo novas colunas de acordo com as [funções declaradas anteriormente](https://colab.research.google.com/drive/1uj5mC1E4XQmdGEGN6ND9-X3s5Cz1tj83#scrollTo=UEPNew_Bc1D2&line=6&uniqifier=1)

In [ ]:
df_nav['interval'] = df_nav['time_usec'].dt.hour.apply(interval)
df_nav['customInterval'] = df_nav['time_usec'].dt.hour.apply(custom_interval)
df_nav['local'] = df_nav['time_usec'].dt.date.apply(local)
df_nav.head()

            title                                   url  ... customInterval  local
0  Google Takeout  https://takeout.google.com/?hl=pt-BR  ...          Tarde  Betim
1  Google Takeout  https://takeout.google.com/?hl=pt-BR  ...          Tarde  Betim
2  Google Takeout  https://takeout.google.com/?hl=pt-BR  ...          Tarde  Betim
3  Google Takeout  https://takeout.google.com/?hl=pt-BR  ...          Tarde  Betim
4  Google Takeout  https://takeout.google.com/?hl=pt-BR  ...          Tarde  Betim

[5 rows x 6 columns]

In [ ]:
df_nav.describe()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """Entry point for launching an IPython kernel.

                              title  ...  local
count                         46871  ...  46871
unique                        15900  ...      3
top     prouni.ipynb - Colaboratory  ...  Betim
freq                           2197  ...  24118
first                           NaN  ...    NaN
last                            NaN  ...    NaN

[6 rows x 6 columns]

Adicionando aos títulos vazios o valor da url.

In [ ]:
df_nav['title'].loc[df_nav['title'] == ''] = df_nav['url']

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

### Analisando os dados

O que eu mais pesquisei durante o ano?

In [ ]:
df_nav['title'].value_counts().head(10)

prouni.ipynb - Colaboratory             2197
Netflix                                 1867
projeto4-Prouni.ipynb - Colaboratory     459
nlp.ipynb - Colaboratory                 407
Stories • Instagram                      336
Digital Innovation One                   318
Instagram                                284
Telemedicina | Suporte Infor             216
Play Kahoot! - Enter game PIN here!      215
Pergunta · Metabase                      183
Name: title, dtype: int64

Dia que mais acessei

In [ ]:
df_nav.time_usec.dt.date.value_counts().head(10)

2021-07-05    1048
2021-06-27     757
2021-06-29     596
2021-06-26     595
2021-06-17     591
2021-05-20     548
2021-06-11     515
2021-06-10     489
2021-01-04     467
2021-06-28     453
Name: time_usec, dtype: int64

Netflix - Como não tenho acesso aos dados da plataforma, irei analisar pelo navegador quantas vezes acessei, e em quais horários do dia eu mais acessei.

In [ ]:
df_nav_netflix = df_nav.loc[df_nav['title'] == 'Netflix']
df_nav_netflix

         title  ...           local
453    Netflix  ...           Betim
454    Netflix  ...           Betim
455    Netflix  ...           Betim
456    Netflix  ...           Betim
457    Netflix  ...           Betim
...        ...  ...             ...
46808  Netflix  ...  Belo Horizonte
46809  Netflix  ...  Belo Horizonte
46810  Netflix  ...  Belo Horizonte
46811  Netflix  ...  Belo Horizonte
46812  Netflix  ...  Belo Horizonte

[1867 rows x 6 columns]

Dia que mais acessei

In [ ]:
df_nav_netflix.time_usec.dt.date.value_counts().head(10)

2021-01-09    79
2021-06-17    70
2021-05-08    55
2021-06-25    42
2020-10-12    38
2021-03-13    33
2021-01-10    31
2020-10-13    29
2020-09-13    28
2021-03-09    26
Name: time_usec, dtype: int64

Quantidades de acesso ao site da Netflix por mês

In [ ]:
df_nav_netflix.time_usec.dt.month.value_counts().head(10)

3     337
1     315
9     252
7     226
6     200
10    197
5     139
8     119
2      46
11     14
Name: time_usec, dtype: int64

Acesso ao site da netflix por dia da semana

In [ ]:
df_nav_netflix.time_usec.dt.day_name().value_counts().head(10)

Saturday     416
Sunday       332
Monday       263
Thursday     251
Friday       230
Tuesday      228
Wednesday    147
Name: time_usec, dtype: int64

Acesso ao site da netflix por local

In [ ]:
df_nav_netflix.local.value_counts().head(10)

Belo Horizonte    1065
Betim              433
Contagem           369
Name: local, dtype: int64

Acesso ao site da netflix por intervalo de horários do dia

In [ ]:
df_nav_netflix.interval.value_counts().head(10)

Madrugada    783
Noite        620
Tarde        440
Manhã         24
Name: interval, dtype: int64

## Analise dos períodos - Storytelling

Datas que serão utilizadas
- Julho, Agosto, Setembro -  
- Outubro: Inovar é preciso
- Novembro, Dezembro - Um novo caminho me espera. Apostando em embarcações menores.
- Janeiro - O início do meu 'SONHO GRANDE'
- Fevereiro - Adaptando a nova rotina intensa. 
- Março - Aprendendo com os erros. A constante evolução!
- Abril, Maio - Praticando o desapego, a evolução constante no meio do caminho. 
- Junho - Estudar, estudar, estudar... foi aqui que pediram dedicação e alta performance? 
- Julho - O céu é o limite

In [ ]:
#Julho, agosto, setembro
jas_inicio = '2020-07-03'
jas_fim = '2020-09-30'

#Outubro
out_inicio = '2020-10-01'
out_fim = '2020-10-31'

#Novembro, dezembro
nodez_inicio = '2020-11-01'
nodez_fim = '2020-12-31'

#Janeiro
jan_inicio = '2021-01-01'
jan_fim = '2021-01-31'

#Fevereiro
fev_inicio = '2021-02-01'
fev_fim = '2021-02-28'

#Março
mar_inicio = '2021-03-01'
mar_fim = '2021-03-31'

#Abril e Maio
abmai_inicio = '2021-04-01'
abmai_fim = '2021-05-31'

#Junho
jun_inicio = '2021-06-01'
jun_fim = '2021-06-30'

#Julho
jul_inicio = '2021-07-01'
jul_fim = '2021-07-31'

#### **Julho Agosto e Setembro - Depois de um tombo vem o outro!**

DFs Julho, Agosto e Setembro

In [ ]:
df_jas_yt = df_youtube.loc[(df_youtube['time'] >= jas_inicio) & (df_youtube['time'] <= jas_fim)]

df_jas_sf = df_spotify_music.loc[(df_spotify_music['endTime'] >= jas_inicio) & (df_spotify_music['endTime'] <= jas_fim)]

df_jas_gc = df_nav.loc[(df_nav['time_usec'] >= jas_inicio) & (df_nav['time_usec'] <= jas_fim)]

In [ ]:
df_jas_yt.head()

                                                 title  ...           local
884   SAIBA TUDO SOBRE BANCOS DE DADOS NO NOTION (T...  ...  Belo Horizonte
885            MARIA HOMEM: UMA PSICANÁLISE DOS AFETOS  ...  Belo Horizonte
886   Como organizar TODO O SEU NOTION (Organização...  ...  Belo Horizonte
887         Mariana Nolasco - Era amor (Clipe Oficial)  ...  Belo Horizonte
888   como mudei meus hábitos e rotina: disciplina,...  ...  Belo Horizonte

[5 rows x 11 columns]

Canais mais assistidos

In [ ]:
df_jas_yt['channel_name'].value_counts().head(10)

RAFAEL RODRIGUES - CROSSFAT    11
Leticia Fagundes                9
Giselle Marciel                 9
Luciana de Farias               8
Pedro Sobral                    6
Gêmeas do Inglês                6
Seja Um Data Scientist          6
Rayssa Eckert                   5
GIOH                            5
Joyce Kitamura                  5
Name: channel_name, dtype: int64

Categoria mais assistida

In [ ]:
df_jas_yt['category'].value_counts()

People & Blogs          84
Education               52
Music                   35
Entertainment           33
Science & Technology    20
Howto & Style            4
Pets & Animals           3
Nonprofits &Activism     2
Film & Animation         2
News & Politics          1
Name: category, dtype: int64

Horários que mais assisti por intervalo e por hora do dia

In [ ]:
# Por intervalo
df_jas_yt['interval'].value_counts()

Noite        77
Manhã        67
Tarde        63
Madrugada    29
Name: interval, dtype: int64

In [ ]:
# Por horário do dia
df_jas_yt.time.dt.hour.value_counts()

12    24
23    20
22    20
11    20
1     15
13    15
19    15
21    14
16    12
15    11
14    10
18    10
0      9
20     8
10     8
9      7
8      6
17     5
2      3
7      2
3      2
Name: time, dtype: int64

Tempo em minutos que passei assistindo cada categoria

In [ ]:
df_jas_yt[['category', 'minutes']].groupby('category').agg({'minutes':'sum'}).sort_values('minutes', ascending=False)

                      minutes
category
Music                 3309.09
Education             2679.12
People & Blogs        1831.09
Entertainment          654.17
Science & Technology   373.18
Howto & Style           27.62
Pets & Animals          16.07
Nonprofits &Activism     4.30
Film & Animation         3.86
News & Politics          1.28

Quantas horas passei no youtube nesses meses

In [ ]:
round(df_jas_yt['minutes'].sum()/60,2)

148.33

Quantidade de vídeos assistidos por categoria em cada intervalo de tempo do dia

In [ ]:
df_jas_yt[['category', 'interval']].groupby(['category', 'interval'], as_index=False).size().sort_values(['category','size'],ascending=False)

                category   interval  size
26  Science & Technology      Noite     7
25  Science & Technology      Manhã     6
27  Science & Technology      Tarde     4
24  Science & Technology  Madrugada     3
23        Pets & Animals      Noite     3
22        People & Blogs      Tarde    29
20        People & Blogs      Manhã    24
21        People & Blogs      Noite    18
19        People & Blogs  Madrugada    13
17  Nonprofits &Activism      Noite     1
18  Nonprofits &Activism      Tarde     1
16       News & Politics      Tarde     1
14                 Music      Noite    14
13                 Music      Manhã    10
15                 Music      Tarde     8
12                 Music  Madrugada     3
9          Howto & Style  Madrugada     2
10         Howto & Style      Manhã     1
11         Howto & Style      Noite     1
8       Film & Animation      Manhã     2
7          Entertainment      Tarde    15
5          Entertainment      Manhã    10
6          Entertainment      Noite     7
4          Entertainment  Madrugada     1
2              Education      Noite    26
1              Education      Manhã    14
0              Education  Madrugada     7
3              Education      Tarde     5

Os primeiros vídeos que eu assisti sobre ciência de dados quando me interessei pela área. 
No dia 15 e 17/09

In [ ]:
df_jas_yt.loc[df_jas_yt['channel_name'] == 'Seja Um Data Scientist']

                                                 title  ...           local
914   O QUE EU FARIA, SE TIVESSE QUE COMEÇAR DATA S...  ...  Belo Horizonte
917    COMO ESTUDAR CIÊNCIA DE DADOS - SIGA ESSE MAPA!  ...  Belo Horizonte
918           Qual Profissão de Dados, Eu DEVO SEGUIR?  ...  Belo Horizonte
919         O QUE É CIÊNCIA DE DADOS? E COMO APRENDER?  ...  Belo Horizonte
920   Qual A Diferença Entre o Data Analyst e o Dat...  ...  Belo Horizonte
921   O QUE EU FARIA, SE TIVESSE QUE COMEÇAR DATA S...  ...  Belo Horizonte

[6 rows x 11 columns]

Além disso eu buscava me organizar mais para a minha mudança, e para encontrar meu proposito.

In [ ]:
df_jas_yt.query('title.str.contains("Notion") | title.str.contains("Organizar") | title.str.contains("Planejamento")\
| title.str.contains("Propósito")', engine='python')

                                                  title  ...           local
889            Como eu Organizo Minha Vida com o Notion  ...  Belo Horizonte
938               Aula 4 - Jornada Inicie Seu Propósito  ...  Belo Horizonte
939               Jornada Inicie seu Propósito - Aula 7  ...  Belo Horizonte
940              Aula 6 - Jornada Inicie seu Propósito!  ...  Belo Horizonte
941               Aula 5 - Jornada Inicie Seu Propósito  ...  Belo Horizonte
942               Aula 4 - Jornada Inicie Seu Propósito  ...  Belo Horizonte
943               Aula 3 - Jornada Inicie Seu Propósito  ...  Belo Horizonte
944               Jornada Inicie seu Propósito - Aula 7  ...  Belo Horizonte
957    arte & planejamento: 003 - rolê pelo Notion d...  ...  Belo Horizonte
960           5 dicas para facilitar sua vida no Notion  ...  Belo Horizonte
961    Meu sistema de ORGANIZAÇÃO em 2020 // Google ...  ...  Belo Horizonte
962    Como Me Organizo (usando o Notion) | Luciana ...  ...  Belo Horizonte
995    Como Me Organizo (usando o Notion) | Luciana ...  ...  Belo Horizonte
996    Como usar fórmulas no Notion - Passo e passo ...  ...  Belo Horizonte
997                       3 dicas de como usar o Notion  ...  Belo Horizonte
998          Dica: Como organizar as colunas no Notion?  ...  Belo Horizonte
999    Como organizar atividades no Notion do Zero e...  ...  Belo Horizonte
1000   How I use Notion! *as a student* | studycolla...  ...  Belo Horizonte
1001   Como usar o Notion — Tutorial completo | Serf...  ...  Belo Horizonte
1004        Como usar o Notion + como eu organizo o meu  ...  Belo Horizonte
1006      A melhor forma de usar o Notion | Aplicativos  ...  Belo Horizonte
1007   Guia básico para entender o Notion | Aplicativos  ...  Belo Horizonte
1008   Notion - O único app que eu uso pra gerenciar...  ...  Belo Horizonte
1010   Encontrei o Melhor App para Estudo e Trabalho...  ...  Belo Horizonte

[24 rows x 11 columns]

E qual a trilha sonora desse momento?

Artistas mais reproduzidos

In [ ]:
df_jas_sf[['artistName','minPlayed']].groupby(['artistName'], as_index=False)\
                                     .agg({'minPlayed':'sum'})\
                                     .sort_values('minPlayed', ascending=False)\
                                     .head(10)

                artistName  minPlayed
297  Johann Sebastian Bach     297.54
399           Luan Santana     130.64
633             Supercombo      96.68
476         Ministério Zoe      66.09
213                 Fresno      63.89
444       Marília Mendonça      59.58
65                     BTS      55.74
177             Ed Sheeran      54.52
75           Billie Eilish      51.66
371                   Lauv      46.94

Eclética né kkkk  
Música clássica, sertanejo, gospel, pop...

E quais foram as músicas que mais ouvi?

In [ ]:
df_jas_sf[['trackName','minPlayed']].groupby(['trackName'], as_index=False)\
                                     .agg({'minPlayed':'sum'})\
                                     .sort_values('minPlayed', ascending=False)\
                                     .head(10)

                         trackName  minPlayed
98               Aquieta Minh'alma      32.85
1371          lovely (with Khalid)      30.06
14                    A Casa É Sua      28.11
1320            Were You Watching?      26.40
642                          Lover      25.83
707   Modern Loneliness - acoustic      25.26
786                       Não Pare      24.45
285            Deus e Eu - Ao Vivo      24.02
246                   Dance Monkey      23.31
1359         boa memória - ao vivo      23.14

Gospel e pop liderando...

E será que tinha um intervalo que eu gostava mais de ouvir música?

In [ ]:
df_jas_sf[['interval','minPlayed']].groupby(['interval'], as_index=False)\
                                                    .agg({'minPlayed':'sum'})\
                                                    .sort_values('minPlayed', ascending=False)\
                                                    .groupby('interval', as_index=False)\
                                                    .head(3)

    interval  minPlayed
0  Madrugada    2529.85
3      Tarde    2371.35
2      Noite     828.55
1      Manhã     626.61

In [ ]:
df_jas_sf[['artistName','interval','minPlayed']].groupby(['interval', 'artistName'])\
                                                    .agg({'minPlayed':'sum'})\
                                                    .sort_values('minPlayed', ascending=False)\
                                                    .groupby('interval', as_index=False)\
                                                    .head(3)\
                                                    .sort_values('interval')

                                   minPlayed
interval  artistName
Madrugada Johann Sebastian Bach       132.43
          Supercombo                   67.43
          BTS                          45.08
Manhã     Johann Sebastian Bach        32.87
          Supercombo                   28.17
          Wolfgang Amadeus Mozart      22.17
Noite     Johann Sebastian Bach        36.32
          Luan Santana                 26.38
          Billie Eilish                21.54
Tarde     Johann Sebastian Bach        95.92
          Luan Santana                 95.73
          Ministério Zoe               37.16

Bach em todos os horários, desconfio que foram nos momentos de leitura, amo ler ouvindo música clássica.

Mais de 100 horas ouvindo música nesses meses

In [ ]:
round(df_jas_sf['minPlayed'].sum()/60,0)

106.0

E será que eu ouvi música no dia que estava descobrindo um pouco mais sobre dados?  
Será que tenho músicas que me inspiram mais?

In [ ]:
spotify_set = df_jas_sf.loc[(df_jas_sf['endTime'].dt.date == pd.to_datetime('2020-09-15')) |\
              (df_jas_sf['endTime'].dt.date == pd.to_datetime('2020-09-16')) |\
              (df_jas_sf['endTime'].dt.date == pd.to_datetime('2020-09-17'))]

spotify_set.groupby(['artistName'], as_index=False).size().sort_values('size', ascending=False).head()

        artistName  size
58  Ministério Zoe     5
22        Dilsinho     4
31  Gabriela Rocha     3
75       Ton Carfi     3
84           Zeeba     2

Parece que o que mais escutei nesses dias foi gospel. Me sentir próxima a Deus me motiva. Nesse momento realmente tentava me conectar sempre com a minha espiritualidade.

E o que eu acessava no google? 

Um histórico pode dizer muito sobre uma pessoa kkkk

In [ ]:
df_jas_gc['title'].value_counts().head(10)

Netflix                                               529
Telemedicina | Suporte Infor                          132
Google Agenda - Semana de 27 de setembro de 2020       83
Stories • Instagram                                    58
Instagram                                              57
Painel de controle                                     52
SGA - Quadro de Horários                               48
Redirect                                               47
SGA - Inclusão de Disciplina                           42
SGA - Alteração de Solicitação de Plano de Estudos     40
Name: title, dtype: int64

E o que eu acessava por intervalo do dia

In [ ]:
# df_jas_gc.reset_index(inplace=True)
# df_jas_gc
# redirect = df_jas_gc.loc[df_jas_gc['title'] == 'Redirect']
# df_jas_gc.drop(index = redirect.index, inplace=True)
# df_jas_gc.drop(columns=['index','level_0'],inplace=True)

In [ ]:
 df_jas_gc[['title','interval']].groupby(['interval', 'title'],as_index=False)\
                                                    .size()\
                                                    .sort_values('size', ascending=False)\
                                                    .groupby('interval', as_index=False)\
                                                    .head(3)\
                                                    .sort_values('interval')

       interval                                              title  size
526   Madrugada                                            Netflix   205
438   Madrugada   Google Agenda - Semana de 27 de setembro de 2020    83
604   Madrugada                                           Redirect    31
1003      Manhã                           SGA - Quadro de Horários    15
1000      Manhã                  SGA - Inclusão de Nova Disciplina    14
997       Manhã  SGA - Alteração de Solicitação de Plano de Est...    12
1463      Noite                                            Netflix   190
1548      Noite                           SGA - Quadro de Horários    33
1544      Noite                       SGA - Inclusão de Disciplina    28
2266      Tarde                                            Netflix   124
2486      Tarde                       Telemedicina | Suporte Infor   121
2462      Tarde                                Stories • Instagram    48

Realmente, um histórico conta muita coisa.  
Momento netflix esteve presente, e como estava em momento de matrícula da faculdade o portal marca presença em alguns momentos.

E as pesquisas relacionados a dados? Vamos dar uma olhada?

In [ ]:
df_jas_gc.query('title.str.contains("Dados") | title.str.contains("Python") | title.str.contains("Análise")\
| title.str.contains("SQL")', engine='python')

                                                   title  ...           local
41120  DiversiDados: Curso de ciência de dados do Nubank  ...  Belo Horizonte
41125  DiversiDados: o curso de ciência de dados do N...  ...  Belo Horizonte
41157  13:00 - LGPD e Governança de Dados nas organiz...  ...  Belo Horizonte
41804  (749) Qual Profissão de Dados, Eu DEVO SEGUIR?...  ...  Belo Horizonte
41806  (749) Episódio 1 - Cientista de Dados, Por Ond...  ...  Belo Horizonte
42062  Modelagem de Dados - Fundação Bradesco - Escol...  ...  Belo Horizonte
42168  (749) Episódio 1 - Cientista de Dados, Por Ond...  ...  Belo Horizonte
42170  (749) Qual Profissão de Dados, Eu DEVO SEGUIR?...  ...  Belo Horizonte
42198  (741) Episódio 1 - Cientista de Dados, Por Ond...  ...  Belo Horizonte
42201  (741) Qual Profissão de Dados, Eu DEVO SEGUIR?...  ...  Belo Horizonte
42203                              Cursos grátis: Python  ...  Belo Horizonte
42379  Aprenda Análise de Dados com Cursos Online de ...  ...  Belo Horizonte
44619  SQL WHERE: Aprendendo a utilizar o comando WHE...  ...  Belo Horizonte
44621  postgresql - SQL Query com múltiplos argumento...  ...  Belo Horizonte
45320  (270) Aula 3 da 6ª edição do maior Workshop On...  ...  Belo Horizonte
45765  Geral (Banco de Dados - Praça da Liberdade - M...  ...  Belo Horizonte
46146                             SGA - Dados Cadastrais  ...  Belo Horizonte
46147                             SGA - Dados Cadastrais  ...  Belo Horizonte
46148                             SGA - Dados Cadastrais  ...  Belo Horizonte
46149                             SGA - Dados Cadastrais  ...  Belo Horizonte
46150                             SGA - Dados Cadastrais  ...  Belo Horizonte
46151                             SGA - Dados Cadastrais  ...  Belo Horizonte

[22 rows x 6 columns]

Era o início de uma chama crescendo em mim

#### **Outubro - Inovar é preciso**

DFs Outubro

In [ ]:
df_out_yt = df_youtube.loc[(df_youtube['time'] >= out_inicio) & (df_youtube['time'] <= out_fim)]

df_out_sf = df_spotify_music.loc[(df_spotify_music['endTime'] >= out_inicio) & (df_spotify_music['endTime'] <= out_fim)]

df_out_gc = df_nav.loc[(df_nav['time_usec'] >= out_inicio) & (df_nav['time_usec'] <= out_fim)]

In [ ]:
df_out_yt.head()

                                                 title  ...           local
801   As 5 FÓRMULAS BÁSICAS do Excel que você TEM Q...  ...  Belo Horizonte
802   Minicurso Básico de Excel - Aula 14 - Fórmula...  ...  Belo Horizonte
803   Minicurso Básico de Excel - Aula 13 - Fórmula...  ...  Belo Horizonte
804   Minicurso Básico de Excel - Aula 12 - Fórmula SE  ...  Belo Horizonte
805   Minicurso Básico de Excel - Aula 11 - Gráfico...  ...  Belo Horizonte

[5 rows x 11 columns]

Canais mais assistidos

In [ ]:
df_out_yt['channel_name'].value_counts().head(10)

Hashtag Treinamentos      16
Henrique e Juliano         4
camis_vidafit              4
Gêmeas do Inglês           4
ImagineDragonsVEVO         4
Gusttavo Lima Oficial      3
Endocrinologia em dia      3
Deive Leonardo             3
Jorge & Mateus Oficial     3
Programação Dinâmica       2
Name: channel_name, dtype: int64

Categoria mais assistida

In [ ]:
df_out_yt['category'].value_counts()

Education               29
Music                   22
People & Blogs          11
Entertainment           10
Science & Technology     3
Nonprofits &Activism     1
Name: category, dtype: int64

Horários que mais assisti por intervalo e por hora do dia

In [ ]:
# Por intervalo
df_out_yt['interval'].value_counts()

Tarde        32
Noite        24
Manhã        19
Madrugada     1
Name: interval, dtype: int64

In [ ]:
# Por horário do dia
df_out_yt.time.dt.hour.value_counts()

15    13
21    11
13     8
19     7
10     6
20     5
17     4
14     3
8      3
16     3
12     3
11     3
9      3
7      1
22     1
18     1
2      1
Name: time, dtype: int64

Tempo em minutos que passei assistindo cada categoria

In [ ]:
df_out_yt[['category', 'minutes']].groupby('category').agg({'minutes':'sum'}).sort_values('minutes', ascending=False)

                      minutes
category
Music                  346.42
Education              297.06
Entertainment          270.95
People & Blogs         187.46
Science & Technology    44.50
Nonprofits &Activism    17.83

Quantas horas passei no youtube nesse mês

In [ ]:
round(df_out_yt['minutes'].sum()/60,2)

19.4

Quantidade de vídeos assistidos por categoria em cada intervalo de tempo do dia

In [ ]:
df_out_yt[['category', 'interval']].groupby(['category', 'interval'], as_index=False).size().sort_values(['category','size'],ascending=False)

                category   interval  size
13  Science & Technology      Tarde     2
12  Science & Technology      Manhã     1
9         People & Blogs      Manhã     4
10        People & Blogs      Noite     4
11        People & Blogs      Tarde     2
8         People & Blogs  Madrugada     1
7   Nonprofits &Activism      Tarde     1
5                  Music      Noite    17
6                  Music      Tarde     5
2          Entertainment      Manhã     6
3          Entertainment      Noite     3
4          Entertainment      Tarde     1
1              Education      Tarde    21
0              Education      Manhã     8

Será que eu continuava assistindo aquele canal sobre dados?

In [ ]:
df_out_yt.loc[df_out_yt['channel_name'] == 'Seja Um Data Scientist']

                                                 title  ...           local
833   Migrar para Analista de Dados e depois para C...  ...  Belo Horizonte

[1 rows x 11 columns]

In [ ]:
df_out_yt.query('title.str.contains("Dados") | title.str.contains("Python") | title.str.contains("Análise")\
| title.str.contains("SQL")', engine='python')

                                                 title  ...           local
812   Minicurso Básico de Excel - Aula 4 - Validaçã...  ...  Belo Horizonte
827   VOCÊ SABE EXTRAIR INFORMAÇÕES DE DADOS? | Aná...  ...  Belo Horizonte
833   Migrar para Analista de Dados e depois para C...  ...  Belo Horizonte
845   VOCÊ SABE EXTRAIR INFORMAÇÕES DE DADOS? | Aná...  ...  Belo Horizonte
876   Notion: Banco de Dados de Pesquisa, Estudos &...  ...  Belo Horizonte

[5 rows x 11 columns]

Teve uma queda na busca de vídeos sobre o assunto de dados, mas ainda estava presente.

Spotify

Artistas mais reproduzidos

In [ ]:
df_out_sf[['artistName','minPlayed']].groupby(['artistName'], as_index=False)\
                                     .agg({'minPlayed':'sum'})\
                                     .sort_values('minPlayed', ascending=False)\
                                     .head(10)

                 artistName  minPlayed
52             Colo de Deus      60.54
148          Jorge & Mateus      57.83
320              Vida Reluz      47.53
179            Los Hermanos      43.10
247     Padre Fábio De Melo      42.04
243  Os Barões Da Pisadinha      41.78
224          Ministério Zoe      37.56
120      Henrique & Juliano      33.30
135           Israel Subira      29.93
17          Anderson Freire      29.52

O Gospel e o Sertanejo se fazendo presente mais uma vez.

E quais foram as músicas que mais ouvi?

In [ ]:
df_out_sf[['trackName','minPlayed']].groupby(['trackName'], as_index=False)\
                                     .agg({'minPlayed':'sum'})\
                                     .sort_values('minPlayed', ascending=False)\
                                     .head(10)

               trackName  minPlayed
267     Me Leva Pra Casa      20.41
136  Deus e Eu - Ao Vivo      19.90
380             Raridade      19.84
6           A Casa É Sua      19.34
45     Aquieta Minh'alma      19.21
334          Ousado Amor      16.71
391        Ressuscita-me      15.49
257        Lugar Secreto      14.08
367      Que Amor É Esse      14.04
370       Queima de Novo      12.29

Mais um ponto para o gospel kkkk

E será que tinha um intervalo que eu gostava mais de ouvir música?

In [ ]:
df_out_sf[['interval','minPlayed']].groupby(['interval'], as_index=False)\
                                                    .agg({'minPlayed':'sum'})\
                                                    .sort_values('minPlayed', ascending=False)\
                                                    .groupby('interval', as_index=False)\
                                                    .head(3)

    interval  minPlayed
3      Tarde    1408.94
1      Manhã     232.05
0  Madrugada     131.67
2      Noite     109.10

In [ ]:
df_out_sf[['artistName','interval','minPlayed']].groupby(['interval', 'artistName'])\
                                                    .agg({'minPlayed':'sum'})\
                                                    .sort_values('minPlayed', ascending=False)\
                                                    .groupby('interval', as_index=False)\
                                                    .head(3)\
                                                    .sort_values('interval')

                                  minPlayed
interval  artistName
Madrugada Snow Patrol                 10.16
          Leeland                      8.39
          Hillsong UNITED              7.49
Manhã     Los Hermanos                36.67
          Leandro Borges              19.90
          Gabriela Rocha              18.67
Noite     Os Barões Da Pisadinha       5.74
          Vida Reluz                   4.81
          Legião Urbana                4.67
Tarde     Jorge & Mateus              54.57
          Colo de Deus                52.75
          Vida Reluz                  42.72

In [ ]:
round(df_out_sf['minPlayed'].sum()/60,0)

31.0

Em média uma hora de música por dia! Música é o combustível da alma né

Navegador

In [ ]:
df_out_gc['title'].value_counts().head(10)

Stories • Instagram                                                         184
Netflix                                                                     181
Queima Diária Play | Acessar minha conta                                     86
Instagram                                                                    61
Telemedicina | Suporte Infor                                                 54
#reeducaçãoalimentar hashtag no Instagram • Fotos e vídeos                   34
Cursos online - a qualquer hora, em qualquer lugar | Udemy                   28
Site de leilão online de centavos Arremate mais nos leilões do Lance 24h     22
#brandpersona hashtag no Instagram • Fotos e vídeos                          19
LEILÕES ONLINE | Lance24                                                     18
Name: title, dtype: int64

E o que eu acessava por intervalo do dia

In [ ]:
# df_jas_gc.reset_index(inplace=True)
# df_jas_gc
# redirect = df_jas_gc.loc[df_jas_gc['title'] == 'Redirect']
# df_jas_gc.drop(index = redirect.index, inplace=True)
# df_jas_gc.drop(columns=['index','level_0'],inplace=True)

In [ ]:
# ee = df_out_gc.query('title.str.contains("Curriculo Vaga Escriturário") | title.str.contains("Lance")', engine='python')
# df_out_gc.drop(index= ee.index, inplace=True)  #LEILÕES ONLINE | Lance24
# ee

In [ ]:
 df_out_gc[['title','interval']].groupby(['interval', 'title'],as_index=False)\
                                                    .size()\
                                                    .sort_values('size', ascending=False)\
                                                    .groupby('interval', as_index=False)\
                                                    .head(3)\
                                                    .sort_values('interval')

      interval                                              title  size
71   Madrugada                                            Netflix    82
91   Madrugada                                Stories • Instagram    59
1    Madrugada  #reeducaçãoalimentar hashtag no Instagram • Fo...    33
162      Manhã  Curriculo Vaga Escriturário - soares.analima3@...     7
190      Manhã                       Telemedicina | Suporte Infor     6
189      Manhã  Sua fatura mensal - Itaucard - soares.analima3...     5
407      Noite                                            Netflix    62
444      Noite           Queima Diária Play | Acessar minha conta    44
313      Noite  Cursos online - a qualquer hora, em qualquer l...    28
801      Tarde                                Stories • Instagram   125
809      Tarde                       Telemedicina | Suporte Infor    48
727      Tarde                                            Netflix    35

E as pesquisas relacionados a dados? Vamos dar uma olhada?

In [ ]:
df_out_gc.query('title.str.contains("Dados") | title.str.contains("Python") | title.str.contains("Análise")\
| title.str.contains("SQL")', engine='python')

                                                   title  ...           local
38746  Tutorial de SQL grátis - Curso SQL Completo 2020…  ...  Belo Horizonte
38863  (272) #1 Sua primeira Análise em Dados de Educ...  ...  Belo Horizonte
38865  O que vem depois da Imersão Dados - soares.ana...  ...  Belo Horizonte
38938               Analista de Dados / BI - Carreira MB  ...  Belo Horizonte
39185  No ar: primeira aula da #ImersãoDados - soares...  ...  Belo Horizonte
39218  Tutorial de Análise de dados grátis - Estatíst...  ...  Belo Horizonte
39275  Exame Academy | Introdução a Data Science e Py...  ...  Belo Horizonte
39285  Vale fará evento online e gratuito sobre a car...  ...  Belo Horizonte
39315  (220) VOCÊ SABE EXTRAIR INFORMAÇÕES DE DADOS? ...  ...  Belo Horizonte
39316  GitHub - MariaEduardaDeAzevedo/nosso-py: Um re...  ...  Belo Horizonte
39563  No ar: primeira aula da #ImersãoDados - soares...  ...  Belo Horizonte
40254  GitHub - MariaEduardaDeAzevedo/nosso-py: Um re...  ...  Belo Horizonte
40255  (142) VOCÊ SABE EXTRAIR INFORMAÇÕES DE DADOS? ...  ...  Belo Horizonte
40272  DATA SCIENCE DO ZERO Com Python, R e Javascrip...  ...  Belo Horizonte

[14 rows x 6 columns]

#### **Novembro, Dezembro - Um novo caminho me espera. Apostando em embarcações menores.**

DFs Novembro e dezembro

In [ ]:
df_nodez_yt = df_youtube.loc[(df_youtube['time'].dt.month == 11) | (df_youtube['time'].dt.month == 12)]

df_nodez_sf = df_spotify_music.loc[(df_spotify_music['endTime'].dt.month == 11) | (df_spotify_music['endTime'].dt.month == 12)]

df_nodez_gc = df_nav.loc[(df_nav['time_usec'].dt.month == 11) | (df_nav['time_usec'].dt.month == 12)]

YOUTUBE

In [ ]:
df_nodez_yt.head()

                                                 title  ...           local
697                       Você VALORIZA o seu TEMPO? ⏱  ...  Belo Horizonte
698   COMO SE ORGANIZAR EM 2021: Planner, Bujo, Pla...  ...  Belo Horizonte
699     GUIA DE CLAREZA 2021: UM EXERCÍCIO DE ESCRITA!  ...  Belo Horizonte
700   PLANEJE SEU ANO NOVO! Como eu me planejo | Lu...  ...  Belo Horizonte
701              Desenterre os sonhos | Deive Leonardo  ...  Belo Horizonte

[5 rows x 11 columns]

Canais mais assistidos

In [ ]:
df_nodez_yt['channel_name'].value_counts().head(10)

Hashtag Treinamentos      16
Urban Extractions          7
Nagel Podologia            6
Deive Leonardo             5
เอื้อมพร รับตกแต่งเล็บ     3
Hiền Vân Spa               2
Satisfying World           2
Campinas Tech              2
DevMedia                   2
Renato Albani              2
Name: channel_name, dtype: int64

Categoria mais assistida

In [ ]:
df_nodez_yt['category'].value_counts()

Education               27
People & Blogs          23
Entertainment           19
Howto & Style            9
Science & Technology     9
Music                    6
23                       4
News & Politics          2
Film & Animation         2
Pets & Animals           1
Gaming                   1
Travel & Events          1
Name: category, dtype: int64

Horários que mais assisti por intervalo e por hora do dia

In [ ]:
# Por intervalo
df_nodez_yt['interval'].value_counts()

Madrugada    46
Noite        27
Manhã        18
Tarde        13
Name: interval, dtype: int64

In [ ]:
# Por horário do dia
df_nodez_yt.time.dt.hour.value_counts()

2     17
0     12
1     12
10     7
23     7
19     7
18     5
3      5
20     5
22     4
21     4
17     3
11     3
9      3
8      3
16     2
15     2
12     2
14     1
Name: time, dtype: int64

Tempo em minutos que passei assistindo cada categoria

In [ ]:
df_nodez_yt[['category', 'minutes']].groupby('category').agg({'minutes':'sum'}).sort_values('minutes', ascending=False)

                      minutes
category
Education              901.06
Entertainment          603.25
People & Blogs         341.53
Science & Technology   184.99
Howto & Style          122.28
News & Politics         27.68
Gaming                  26.28
Music                   24.02
23                      16.33
Pets & Animals           7.65
Film & Animation         5.30
Travel & Events          5.07

Quantas horas passei no youtube nesse mês

In [ ]:
round(df_nodez_yt['minutes'].sum()/60,0)

38.0

Quantidade de vídeos assistidos por categoria em cada intervalo de tempo do dia

In [ ]:
df_nodez_yt[['category', 'interval']].groupby(['category', 'interval'], as_index=False).size().sort_values(['category','size'],ascending=False)

                category   interval  size
27       Travel & Events      Tarde     1
24  Science & Technology      Manhã     4
25  Science & Technology      Noite     3
26  Science & Technology      Tarde     2
23        Pets & Animals      Noite     1
19        People & Blogs  Madrugada    20
20        People & Blogs      Manhã     1
21        People & Blogs      Noite     1
22        People & Blogs      Tarde     1
18       News & Politics  Madrugada     2
16                 Music      Noite     3
15                 Music      Manhã     2
17                 Music      Tarde     1
12         Howto & Style  Madrugada     6
13         Howto & Style      Noite     2
14         Howto & Style      Tarde     1
11                Gaming      Noite     1
10      Film & Animation      Noite     2
8          Entertainment      Noite     6
6          Entertainment  Madrugada     5
7          Entertainment      Manhã     5
9          Entertainment      Tarde     3
2              Education  Madrugada    11
4              Education      Noite     8
3              Education      Manhã     6
5              Education      Tarde     2
0                     23  Madrugada     2
1                     23      Tarde     2

Spotify

In [ ]:
df_nodez_sf.head()

                 endTime       artistName  ... customInterval           local
2914 2020-11-01 04:22:00    Didio Carrión  ...       Dormindo  Belo Horizonte
2915 2020-11-01 04:22:00  Satkirin Mantra  ...       Dormindo  Belo Horizonte
2916 2020-11-01 04:23:00    Lewis Capaldi  ...       Dormindo  Belo Horizonte
2917 2020-11-01 04:26:00        Passenger  ...       Dormindo  Belo Horizonte
2918 2020-11-01 04:29:00   Missy & Blonde  ...       Dormindo  Belo Horizonte

[5 rows x 8 columns]

Artistas mais reproduzidos

In [ ]:
df_nodez_sf[['artistName','minPlayed']].groupby(['artistName'], as_index=False)\
                                     .agg({'minPlayed':'sum'})\
                                     .sort_values('minPlayed', ascending=False)\
                                     .head(10)

                 artistName  minPlayed
276              Supercombo      77.09
54             Colo de Deus      75.57
44             Casa Worship      49.95
130          Jorge & Mateus      41.20
263               Sam Smith      38.47
14            Ariana Grande      35.94
216          Ministério Zoe      34.44
174            Luan Santana      32.00
231  Os Barões Da Pisadinha      29.86
45        Charlie Brown Jr.      29.13

E quais foram as músicas que mais ouvi?

In [ ]:
df_nodez_sf[['trackName','minPlayed']].groupby(['trackName'], as_index=False)\
                                     .agg({'minPlayed':'sum'})\
                                     .sort_values('minPlayed', ascending=False)\
                                     .head(10)

                  trackName  minPlayed
170      Eu Te Vejo Em Tudo      28.90
488   The Lighthouse Keeper      28.76
359             Ousado Amor      26.10
124      Desperta - Ao Vivo      23.38
286        Me Leva Pra Casa      23.28
9              A Casa É Sua      21.05
95    Colo de Mãe - Ao Vivo      16.10
47        Aquieta Minh'alma      14.20
304  Minha Morada - Ao Vivo      13.70
28    Alô Ex-Amor - Ao Vivo      13.20

E será que tinha um intervalo que eu gostava mais de ouvir música?

In [ ]:
df_nodez_sf[['interval','minPlayed']].groupby(['interval'], as_index=False)\
                                                    .agg({'minPlayed':'sum'})\
                                                    .sort_values('minPlayed', ascending=False)\
                                                    .groupby('interval', as_index=False)\
                                                    .head(3)

    interval  minPlayed
3      Tarde     808.97
1      Manhã     593.70
0  Madrugada     459.22
2      Noite     219.20

In [ ]:
df_nodez_sf[['artistName','interval','minPlayed']].groupby(['interval', 'artistName'])\
                                                    .agg({'minPlayed':'sum'})\
                                                    .sort_values('minPlayed', ascending=False)\
                                                    .groupby('interval', as_index=False)\
                                                    .head(3)\
                                                    .sort_values('interval')

                          minPlayed
interval  artistName
Madrugada Supercombo          77.09
          Ariana Grande       27.09
          Sam Smith           14.50
Manhã     Casa Worship        44.17
          Ministério Zoe      30.90
          Colo de Deus        27.91
Noite     Sam Smith           10.75
          Maria Gadú          10.36
          Landon Austin       10.35
Tarde     Colo de Deus        47.66
          Luan Santana        27.95
          Jorge & Mateus      24.51

In [ ]:
round(df_nodez_sf['minPlayed'].sum()/60)

35

Navegador

In [ ]:
df_nodez_gc['title'].value_counts().head(10)

Digital Innovation One                                        226
Workover                                                       50
Higenius Stories Board - Boards                                43
Gupy                                                           37
estágio TI                                                     37
Cursos online - a qualquer hora, em qualquer lugar | Udemy     37
Netflix                                                        24
Conteúdo Digital                                               23
vagas estágio bh                                               22
Cursos – EuCapacito                                            21
Name: title, dtype: int64

E o que eu acessava por intervalo do dia

In [ ]:
# nodex_ee = df_nodez_gc.query('title.str.contains("Entrar em sua conta") | title.str.contains("marisa pós parto bh") | title.str.contains("Meet: pyf-dmgb-pux") | title.str.contains("Portal do Candidato")', engine='python')
# df_nodez_gc.drop(index= nodex_ee.index, inplace=True)
# nodex_ee

In [ ]:
 df_nodez_gc[['title','interval']].groupby(['interval', 'title'],as_index=False)\
                                                    .size()\
                                                    .sort_values('size', ascending=False)\
                                                    .groupby('interval', as_index=False)\
                                                    .head(3)\
                                                    .sort_values('interval')

       interval                                              title  size
151   Madrugada                             Digital Innovation One   147
333   Madrugada                                           Workover    41
182   Madrugada                                               Gupy    23
433       Manhã                             Digital Innovation One     6
416       Manhã                        Ana Luiza Soares | LinkedIn     6
449       Manhã  Kindle 10a. geração com iluminação embutida – ...     3
668       Noite                             Digital Innovation One    63
707       Noite                    Higenius Stories Board - Boards    29
957       Noite                                   vagas estágio bh    22
1495      Tarde                                         estágio TI    33
1203      Tarde  Cursos online - a qualquer hora, em qualquer l...    17
1207      Tarde              DAILY PLANNER - Paperview | Paperview    13

E as pesquisas relacionados a dados? Vamos dar uma olhada?

In [ ]:
df_nodez_gc.query('title.str.contains("Dados") | title.str.contains("Python") | title.str.contains("Análise")\
| title.str.contains("SQL")', engine='python')

                                                   title  ...           local
35684  Estagiário (a) em Análise de Dados — Hotmart |...  ...  Belo Horizonte
36395  Ana, sua chance de conhecer (e aprender) Pytho...  ...  Belo Horizonte
37339  Dê seus primeiros passos com o Python – EuCapa...  ...  Belo Horizonte
37396                                Python – EuCapacito  ...  Belo Horizonte
38517                        Python 3 na Prática | Udemy  ...  Belo Horizonte
38521  Curso SQL Completo 2020 + Desafios + Muita Prá...  ...  Belo Horizonte
38538                        Formação Cientista de Dados  ...  Belo Horizonte
38539                        Formação Cientista de Dados  ...  Belo Horizonte

[8 rows x 6 columns]

In [ ]:
df_nodez_gc.query('title.str.contains("Vamo AI") | title.str.contains("Campinas") | title.str.contains("ShareRH")', engine='python')

                                                   title  ...           local
36394  Campinas Tech Talents | Confirmação de candida...  ...  Belo Horizonte
36440  Campinas Tech Talents | Inscrições no Compleo ...  ...  Belo Horizonte
36638  Campinas Tech Talents | Etapa de testes online...  ...  Belo Horizonte
36817  Campinas Tech Talents | Inscrições no Compleo ...  ...  Belo Horizonte
37214  Campinas Tech Talents | Inscrições no Compleo ...  ...  Belo Horizonte
37570  Campinas Tech Talents | Inscrições no Compleo ...  ...  Belo Horizonte
37665  Campinas Tech Talents | Inscrições no Compleo ...  ...  Belo Horizonte
37838  Ana, sua jornada no Campinas Tech Talents come...  ...  Belo Horizonte
37848  Ana, sua jornada no Campinas Tech Talents come...  ...  Belo Horizonte
37857  Ana, sua jornada no Campinas Tech Talents come...  ...  Belo Horizonte
37871  Ana, sua jornada no Campinas Tech Talents come...  ...  Belo Horizonte
38258  Campinas Tech Talents | Atualizações e próximo...  ...  Belo Horizonte
38267  Workshop - GitHub: como aproveitar ao máximo? ...  ...  Belo Horizonte
38268  Workshop - GitHub: como aproveitar ao máximo? ...  ...  Belo Horizonte
38269  Workshop - GitHub: como aproveitar ao máximo? ...  ...  Belo Horizonte
38270  Workshop - GitHub: como aproveitar ao máximo? ...  ...  Belo Horizonte
38272  Ana, sua jornada no Campinas Tech Talents come...  ...  Belo Horizonte
38273  Ana, sua jornada no Campinas Tech Talents come...  ...  Belo Horizonte
38274  Ana, sua jornada no Campinas Tech Talents come...  ...  Belo Horizonte
38275  Ana, sua jornada no Campinas Tech Talents come...  ...  Belo Horizonte
38307  Ana, sua jornada no Campinas Tech Talents come...  ...  Belo Horizonte
38308                              Campinas Tech Talents  ...  Belo Horizonte
38309                              Campinas Tech Talents  ...  Belo Horizonte
38310  Campinas Tech Talents - Programa de formação d...  ...  Belo Horizonte
38311  Campinas Tech Talents - soares.analima3@gmail....  ...  Belo Horizonte
38312                              Campinas Tech Talents  ...  Belo Horizonte
38313  Campinas Tech Talents - soares.analima3@gmail....  ...  Belo Horizonte
38314  Campinas Tech Talents - soares.analima3@gmail....  ...  Belo Horizonte
38322  Campinas Tech Talents - soares.analima3@gmail....  ...  Belo Horizonte

[29 rows x 6 columns]

Percebi que o meu Google Chrome não estava sincronizado com a minha conta em praticamente todo o mês de dezembro de 2020
Mas consultando o meu e-mail identifiquei que me inscrevi no dia 16/12.   
E me inscrevi no campinas Tech Talents no dia 05/11

#### **Janeiro - O início do meu 'SONHO GRANDE'**

DFs DO MÊS

In [ ]:
df_jan_yt = df_youtube.loc[(df_youtube['time'] >= jan_inicio) & (df_youtube['time'] <= jan_fim)]

df_jan_sf = df_spotify_music.loc[(df_spotify_music['endTime'] >= jan_inicio) & (df_spotify_music['endTime'] <= jan_fim)]

df_jan_gc = df_nav.loc[(df_nav['time_usec'] >= jan_inicio) & (df_nav['time_usec'] <= jan_fim)]

YOUTUBE

In [ ]:
df_jan_yt.head()

                                                 title  ...           local
621                                        SBT Ao Vivo  ...  Belo Horizonte
622   COMO FAZER NÓ PAULISTA - NÓ CAMINHONEIRO - NÓ...  ...  Belo Horizonte
623   [PyBr2020] Trilha PEP20 - Quinta-feira - Dia ...  ...  Belo Horizonte
624   Como Usar o Notion - Ep 3 - BANCOS DE DADOS A...  ...  Belo Horizonte
625   Como usar fórmulas no Notion - Passo e passo ...  ...  Belo Horizonte

[5 rows x 11 columns]

Canais mais assistidos

In [ ]:
df_jan_yt['channel_name'].value_counts().head(10)

Clara Bousada         4
Deive Leonardo        3
Rafaella Ballerini    2
Flávio Cross          2
Shu Omi               2
linguamarina          2
Hugo Gloss            2
engenheiraabroad      2
Loiane Groner         2
RDK PINTURAS          2
Name: channel_name, dtype: int64

Categoria mais assistida

In [ ]:
df_jan_yt['category'].value_counts()

Education               20
People & Blogs          16
Entertainment           16
Science & Technology    12
Howto & Style            6
Music                    3
Gaming                   2
Pets & Animals           1
Name: category, dtype: int64

Horários que mais assisti por intervalo e por hora do dia

In [ ]:
# Por intervalo
df_jan_yt['interval'].value_counts()

Tarde        30
Noite        27
Madrugada    12
Manhã         7
Name: interval, dtype: int64

In [ ]:
# Por horário do dia
df_jan_yt.time.dt.hour.value_counts()

21    13
1      8
15     7
17     7
16     6
23     5
22     5
14     5
18     4
12     3
2      3
20     3
11     2
19     1
13     1
10     1
7      1
0      1
Name: time, dtype: int64

Tempo em minutos que passei assistindo cada categoria

In [ ]:
df_jan_yt[['category', 'minutes']].groupby('category').agg({'minutes':'sum'}).sort_values('minutes', ascending=False)

                      minutes
category
Entertainment          836.47
Education              319.13
People & Blogs         274.10
Science & Technology   189.01
Howto & Style           66.38
Gaming                  16.53
Music                   10.58
Pets & Animals           8.03

Quantas horas passei no youtube nesse mês

In [ ]:
round(df_jan_yt['minutes'].sum()/60,0)

29.0

Quantidade de vídeos assistidos por categoria em cada intervalo de tempo do dia

In [ ]:
df_jan_yt[['category', 'interval']].groupby(['category', 'interval'], as_index=False).size().sort_values(['category','size'],ascending=False)

                category   interval  size
20  Science & Technology      Tarde     6
18  Science & Technology      Manhã     3
17  Science & Technology  Madrugada     2
19  Science & Technology      Noite     1
16        Pets & Animals      Manhã     1
14        People & Blogs      Noite     7
12        People & Blogs  Madrugada     4
15        People & Blogs      Tarde     4
13        People & Blogs      Manhã     1
11                 Music      Tarde     2
10                 Music      Noite     1
9          Howto & Style      Tarde     4
8          Howto & Style      Noite     2
7                 Gaming      Tarde     2
5          Entertainment      Noite     7
3          Entertainment  Madrugada     4
6          Entertainment      Tarde     3
4          Entertainment      Manhã     2
1              Education      Noite     9
2              Education      Tarde     9
0              Education  Madrugada     2

In [ ]:
df_jan_yt.query('title.str.contains("Java") | title.str.contains("Python") | title.str.contains("Dados")', engine='python')

                                                 title  ...           local
641   Curso de Java - Orientação a Objetos: Correçã...  ...  Belo Horizonte
659                 Curso de Java 19: Vetores (Arrays)  ...  Belo Horizonte

[2 rows x 11 columns]

Spotify

Artistas mais reproduzidos

In [ ]:
df_jan_sf[['artistName','minPlayed']].groupby(['artistName'], as_index=False)\
                                     .agg({'minPlayed':'sum'})\
                                     .sort_values('minPlayed', ascending=False)\
                                     .head(10)

                 artistName  minPlayed
30                DUDA BEAT      48.44
72           Jorge & Mateus      33.81
101        Luíza & Maurílio      32.01
27             Colo de Deus      28.15
135  Os Barões Da Pisadinha      23.52
23             Casa Worship      18.82
92           Leandro Borges      16.63
136           Pabllo Vittar      16.10
60         Hugo & Guilherme      15.90
166     Zé Neto & Cristiano      15.60

E quais foram as músicas que mais ouvi?

In [ ]:
df_jan_sf[['trackName','minPlayed']].groupby(['trackName'], as_index=False)\
                                     .agg({'minPlayed':'sum'})\
                                     .sort_values('minPlayed', ascending=False)\
                                     .head(10)

                                        trackName  minPlayed
103                              Lance Individual      16.92
9            Alô Ambev (Segue Sua Vida) - Ao Vivo      14.11
79                            Figurinha - Ao Vivo      13.72
235  Tudo Indica (feat. Jorge & Mateus) - Ao Vivo      12.70
117                            Maranata - Ao Vivo      12.55
196            Se Ninguém Te Adorar Eu Vou - Live      12.12
143                        O Segredo da Madrugada      11.84
161                 Poesia Acústica 10: Recomeçar      11.38
233                                  Todo Carinho      10.37
5                                    A Casa É Sua      10.35

E será que tinha um intervalo que eu gostava mais de ouvir música?

In [ ]:
df_jan_sf[['interval','minPlayed']].groupby(['interval'], as_index=False)\
                                                    .agg({'minPlayed':'sum'})\
                                                    .sort_values('minPlayed', ascending=False)\
                                                    .groupby('interval', as_index=False)\
                                                    .head(3)

    interval  minPlayed
3      Tarde     470.18
1      Manhã     221.57
0  Madrugada     182.06
2      Noite     133.00

In [ ]:
df_jan_sf[['artistName','interval','minPlayed']].groupby(['interval', 'artistName'])\
                                                    .agg({'minPlayed':'sum'})\
                                                    .sort_values('minPlayed', ascending=False)\
                                                    .groupby('interval', as_index=False)\
                                                    .head(3)\
                                                    .sort_values('interval')

                             minPlayed
interval  artistName
Madrugada DUDA BEAT              16.72
          Casa Worship            9.37
          Katy Perry              8.76
Manhã     Colo de Deus           15.48
          Ministério Avivah      12.55
          Anderson Freire         9.92
Noite     Hugo & Guilherme        7.63
          Taylor Swift            6.96
          Ariana Grande           6.61
Tarde     DUDA BEAT              31.72
          Jorge & Mateus         28.30
          Luíza & Maurílio       25.54

In [ ]:
round(df_jan_sf['minPlayed'].sum()/60,0)

17.0

In [ ]:
df_jan_sf.loc[df_jan_sf['endTime'].dt.date == pd.to_datetime('2021-01-27')]

                 endTime           artistName  ... customInterval           local
4068 2021-01-27 14:21:00       Wesley Safadão  ...        Estágio  Belo Horizonte
4069 2021-01-27 14:24:00       Jorge & Mateus  ...        Estágio  Belo Horizonte
4070 2021-01-27 14:27:00   Guilherme & Benuto  ...        Estágio  Belo Horizonte
4071 2021-01-27 14:30:00  Zé Neto & Cristiano  ...        Estágio  Belo Horizonte
4072 2021-01-27 14:33:00  Diego & Victor Hugo  ...        Estágio  Belo Horizonte
4073 2021-01-27 14:33:00     Marcos & Belutti  ...        Estágio  Belo Horizonte

[6 rows x 8 columns]

Navegador

In [ ]:
df_jan_gc['title'].value_counts().head(10)

Netflix                                                                306
Play Kahoot! - Enter game PIN here!                                     73
SGA - Quadro de Horários                                                58
Digital Innovation One                                                  49
Facebook                                                                39
Google Agenda - Início da programação sábado, 23 de janeiro de 2021     38
andersonrocha0/tech-talents-java-matera                                 36
Instagram                                                               34
Patrick Depailler (@patrickdepailler) • Fotos e vídeos do Instagram     33
SGA - Inclusão de Nova Disciplina                                       32
Name: title, dtype: int64

E o que eu acessava por intervalo do dia

In [ ]:
# df_jas_gc.reset_index(inplace=True)
# df_jas_gc
# redirect = df_jas_gc.loc[df_jas_gc['title'] == 'Redirect']
# df_jas_gc.drop(index = redirect.index, inplace=True)
# df_jas_gc.drop(columns=['index','level_0'],inplace=True)

In [ ]:
# jan_ee = df_jan_gc.query('title.str.contains("Patrick Depailler")', engine='python')
# df_jan_gc.drop(index= jan_ee.index, inplace=True)  #LEILÕES ONLINE | Lance24
# jan_ee

In [ ]:
 df_jan_gc[['title','interval']].groupby(['interval', 'title'],as_index=False)\
                                                    .size()\
                                                    .sort_values('size', ascending=False)\
                                                    .groupby('interval', as_index=False)\
                                                    .head(3)\
                                                    .sort_values('interval')

       interval                                              title  size
181   Madrugada                                            Netflix   124
131   Madrugada  Google Agenda - Início da programação sábado, ...    38
200   Madrugada  Patrick Depailler (@patrickdepailler) • Fotos ...    33
482       Manhã                  SGA - Inclusão de Nova Disciplina    18
479       Manhã  SGA - Alteração de Solicitação de Plano de Est...    11
395       Manhã      62 Week English Plan by Ih, Aprendi! | Trello     8
919       Noite                                            Netflix    99
997       Noite                Play Kahoot! - Enter game PIN here!    73
1044      Noite                           SGA - Quadro de Horários    25
1707      Tarde                                            Netflix    80
1568      Tarde                                           Facebook    30
2065      Tarde        tenis - Resultado de busca ‹ Magazine Luiza    30

E as pesquisas relacionados a dados? Vamos dar uma olhada?

In [ ]:
df_jan_gc.query('title.str.contains("Dados") | title.str.contains("Python") | title.str.contains("Análise")\
| title.str.contains("SQL")', engine='python')

                                                   title  ...           local
31559  Manual de Análise de Dados - Estatística e Mod...  ...  Belo Horizonte
31564                  Análise Preditiva | Amazon.com.br  ...  Belo Horizonte
31569  Storytelling com Dados ; um Guia Sobre Visuali...  ...  Belo Horizonte
31574  Storytelling com Dados. Um Guia Sobre Visualiz...  ...  Belo Horizonte
31615            Afinal, por quê Python? - DEV Community  ...  Belo Horizonte
31652            Afinal, por quê Python? - DEV Community  ...  Belo Horizonte
31906  Python 3 parte 1: Introdução à nova versão da ...  ...  Belo Horizonte
32041  Python Brasil: Validação de dados no padrão na...  ...  Belo Horizonte
32042  Python Collections parte 1: Listas e tuplas | ...  ...  Belo Horizonte
32043  Python: Manipulação de Strings | Alura - Curso...  ...  Belo Horizonte
32044  Python 3: Avançando na orientação a objetos | ...  ...  Belo Horizonte
32045  Python 3: Introdução a Orientação a objetos | ...  ...  Belo Horizonte
32046  Python 3 parte 2: Avançando na linguagem | Alu...  ...  Belo Horizonte
32064  Python 3 parte 1: Introdução à nova versão da ...  ...  Belo Horizonte
32279  Cursos da formação Python para Data Science | ...  ...  Belo Horizonte
32289             Cursos de Python - Programação | Alura  ...  Belo Horizonte
32291  Cursos de SQL e Banco de Dados - Data Science ...  ...  Belo Horizonte
32330                               Intensivão de Python  ...  Belo Horizonte
32331  Confirmação Necessária - Intensivão de Python ...  ...  Belo Horizonte
32835                        Formação Cientista de Dados  ...  Belo Horizonte
32839              Cientista de Dados.pdf - Google Drive  ...  Belo Horizonte
32963                        Formação Cientista de Dados  ...  Belo Horizonte
32981                        Formação Cientista de Dados  ...  Belo Horizonte
32982  Linguagens R e Python, 400 Mil, Resoluções Par...  ...  Belo Horizonte
33037    SQL Week Recife Conference - Dia 2: BI - Sympla  ...  Belo Horizonte
33038  SQL Week Recife Conference - Dia 1: Carreiras ...  ...  Belo Horizonte
33043  Jornada do Banco de Dados - Do Básico ao Avanç...  ...  Belo Horizonte
33186  GLOBAL DISTRIBUICAO DE BENS DE CONSUMO LTDA. -...  ...  Belo Horizonte
33187  GLOBAL DISTRIBUICAO DE BENS DE CONSUMO LTDA. -...  ...  Belo Horizonte
33535  BANCO DE DADOS, SQL, ORACLE, MY SQL - Google D...  ...  Belo Horizonte
33560                              Python - Google Drive  ...  Belo Horizonte
33561  Lógica de Programação Usando Python - Google D...  ...  Belo Horizonte
33563  Lógica de Programação Usando Python - Google D...  ...  Belo Horizonte
33565  Lógica de Programação Usando Python - Google D...  ...  Belo Horizonte
33566                              Python - Google Drive  ...  Belo Horizonte
33589    Algoritmos e Estruturas de Dados - Google Drive  ...  Belo Horizonte
33744  Faculdade de Ciência de Dados em João Pessoa |...  ...  Belo Horizonte
34060  Guia de Iniciação - Área de Dados - Guia de In...  ...  Belo Horizonte
34071             Privacidade e Proteção de Dados (LGPD)  ...  Belo Horizonte
34982  Salários de Analista De Dados Júnior de iFood ...  ...  Belo Horizonte

[40 rows x 6 columns]

#### **Fevereiro - Adaptando a nova rotina intensa**

DFs Fevereiro

In [ ]:
df_fev_yt = df_youtube.loc[(df_youtube['time'] >= fev_inicio) & (df_youtube['time'] <= fev_fim)]

df_fev_sf = df_spotify_music.loc[(df_spotify_music['endTime'] >= fev_inicio) & (df_spotify_music['endTime'] <= fev_fim)]

df_fev_gc = df_nav.loc[(df_nav['time_usec'] >= fev_inicio) & (df_nav['time_usec'] <= fev_fim)]

YOUTUBE

In [ ]:
df_fev_yt.head()

                                                 title  ...     local
556   Aniversário de 1 ano - 3º dia (Trilha: Inteli...  ...  Contagem
557     Novo Read Me do Github - Aprenda a fazer o seu  ...  Contagem
558   Qual é a sua mochila? | Milla Monteiro | TEDx...  ...  Contagem
559   Para Início de Conversa | Carolina Nalon | TE...  ...  Contagem
560      Aniversário de 1 ano - 2º dia (Trilha: Dados)  ...  Contagem

[5 rows x 11 columns]

Canais mais assistidos

In [ ]:
df_fev_yt['channel_name'].value_counts().head(10)

TEDx Talks                         9
Abhishek Patel - WEBEON SYSTEMS    6
Papo de Dev                        6
AlgoRythmics                       4
AI Girls Comunidade                3
Big Open Source Sibling            3
Bee Lab Academy                    2
Alura Cursos Online                2
Willian Justen Cursos              2
Paloma Cipriano                    2
Name: channel_name, dtype: int64

Categoria mais assistida

In [ ]:
df_fev_yt['category'].value_counts()

People & Blogs          18
Education               17
Science & Technology    11
Nonprofits &Activism     9
Entertainment            9
23                       1
Name: category, dtype: int64

Horários que mais assisti por intervalo e por hora do dia

In [ ]:
# Por intervalo
df_fev_yt['interval'].value_counts()

Tarde        35
Noite        16
Manhã        10
Madrugada     4
Name: interval, dtype: int64

In [ ]:
# Por horário do dia
df_fev_yt.time.dt.hour.value_counts()

15    12
14     6
20     6
21     5
18     5
13     5
11     5
16     4
17     3
12     3
3      2
19     2
22     2
2      1
23     1
8      1
9      1
1      1
Name: time, dtype: int64

Tempo em minutos que passei assistindo cada categoria

In [ ]:
df_fev_yt[['category', 'minutes']].groupby('category').agg({'minutes':'sum'}).sort_values('minutes', ascending=False)

                      minutes
category
Entertainment         1614.31
Science & Technology   856.18
Education              367.41
People & Blogs         336.36
Nonprofits &Activism   132.84
23                       1.75

Quantas horas passei no youtube nesse mês

In [ ]:
round(df_fev_yt['minutes'].sum()/60)

55

Quantidade de vídeos assistidos por categoria em cada intervalo de tempo do dia

In [ ]:
df_fev_yt[['category', 'interval']].groupby(['category', 'interval'], as_index=False).size().sort_values(['category','size'],ascending=False)

                category   interval  size
13  Science & Technology      Noite     5
12  Science & Technology      Manhã     3
14  Science & Technology      Tarde     3
11        People & Blogs      Tarde    10
8         People & Blogs  Madrugada     3
10        People & Blogs      Noite     3
9         People & Blogs      Manhã     2
7   Nonprofits &Activism      Tarde     8
6   Nonprofits &Activism  Madrugada     1
3          Entertainment      Manhã     5
5          Entertainment      Tarde     3
4          Entertainment      Noite     1
2              Education      Tarde    10
1              Education      Noite     7
0                     23      Tarde     1

In [ ]:
df_fev_yt.query('title.str.contains("Dados") | title.str.contains("Python") | title.str.contains("Análise")\
| title.str.contains("SQL")', engine='python')

                                              title  ...     local
560   Aniversário de 1 ano - 2º dia (Trilha: Dados)  ...  Contagem
575   Introdução à Programação com Python - Parte 1  ...  Contagem
578               Python: Trabalhando com variáveis  ...  Contagem

[3 rows x 11 columns]

Vídeos assistidos na primeira semana do projeto 1

In [ ]:
df_fev_yt.loc[(df_fev_yt['time'].dt.date >= pd.to_datetime('2021-02-21')) & (df_fev_yt['time'].dt.date <= pd.to_datetime('2021-02-28')) ]

                                                 title  ...     local
556   Aniversário de 1 ano - 3º dia (Trilha: Inteli...  ...  Contagem
557     Novo Read Me do Github - Aprenda a fazer o seu  ...  Contagem
558   Qual é a sua mochila? | Milla Monteiro | TEDx...  ...  Contagem
559   Para Início de Conversa | Carolina Nalon | TE...  ...  Contagem
560      Aniversário de 1 ano - 2º dia (Trilha: Dados)  ...  Contagem
561                Como e porque usar o Slack PyLadies  ...  Contagem
562     Novo Read Me do Github - Aprenda a fazer o seu  ...  Contagem
563   Aniversário de 1 ano - 1º dia (Trilha: Carrei...  ...  Contagem
564     Novo Read Me do Github - Aprenda a fazer o seu  ...  Contagem
565                Como e porque usar o Slack PyLadies  ...  Contagem
566   Para Início de Conversa | Carolina Nalon | TE...  ...  Contagem
567     Novo Read Me do Github - Aprenda a fazer o seu  ...  Contagem
568   [ChatBoss 1.2] Introdução ao Git e contribuiç...  ...  Contagem
569   20. Criando um branch - Git e Github para Ini...  ...  Contagem
570   20. Criando um branch - Git e Github para Ini...  ...  Contagem
571     Novo Read Me do Github - Aprenda a fazer o seu  ...  Contagem
572     Novo Read Me do Github - Aprenda a fazer o seu  ...  Contagem
573   Do medo à confiança: A tímida que ama falar e...  ...  Contagem
574           Você sente orgulho do código que produz?  ...  Contagem
575      Introdução à Programação com Python - Parte 1  ...  Contagem
576   O poder dos mini-hábitos | Joel Moraes | TEDx...  ...  Contagem
577   Masterclass da Cultura Digital | Nina da Hora...  ...  Contagem
578                  Python: Trabalhando com variáveis  ...  Contagem
579   [ChatBoss 1.3] Contribuindo pra um projeto op...  ...  Contagem

[24 rows x 11 columns]

Spotify

Artistas mais reproduzidos

In [ ]:
df_fev_sf[['artistName','minPlayed']].groupby(['artistName'], as_index=False)\
                                     .agg({'minPlayed':'sum'})\
                                     .sort_values('minPlayed', ascending=False)\
                                     .head(10)

                 artistName  minPlayed
123          Wesley Safadão      18.41
50         Hugo & Guilherme      17.40
127     Zé Neto & Cristiano      13.16
99           Olivia Rodrigo      12.09
86         Marília Mendonça      11.98
54            Israel Subira      11.86
38         Francisco Martin      11.55
100  Os Barões Da Pisadinha      10.82
110             Sam Fischer      10.59
41             Garrett Kato      10.00

E quais foram as músicas que mais ouvi?

In [ ]:
df_fev_sf[['trackName','minPlayed']].groupby(['trackName'], as_index=False)\
                                     .agg({'minPlayed':'sum'})\
                                     .sort_values('minPlayed', ascending=False)\
                                     .head(10)

                                trackName  minPlayed
28              Coração Na Cama - Ao Vivo      17.40
5    Alô Ambev (Segue Sua Vida) - Ao Vivo      12.43
166                       drivers license      12.09
79                       Me Leva Pra Casa      11.86
143         Swollen (feat. Julia Gargano)      11.55
54                                For Now      10.59
3                                All Good      10.00
27                                 Coping       9.51
87                                 Mulher       9.45
145                 The Way I Say Goodbye       9.21

E será que tinha um intervalo que eu gostava mais de ouvir música?

In [ ]:
df_fev_sf[['interval','minPlayed']].groupby(['interval'], as_index=False)\
                                                    .agg({'minPlayed':'sum'})\
                                                    .sort_values('minPlayed', ascending=False)\
                                                    .groupby('interval', as_index=False)\
                                                    .head(3)

    interval  minPlayed
0  Madrugada     189.47
3      Tarde     165.64
1      Manhã     106.78
2      Noite      75.14

In [ ]:
df_fev_sf[['artistName','interval','minPlayed']].groupby(['interval', 'artistName'])\
                                                    .agg({'minPlayed':'sum'})\
                                                    .sort_values('minPlayed', ascending=False)\
                                                    .groupby('interval', as_index=False)\
                                                    .head(3)\
                                                    .sort_values('interval')

                            minPlayed
interval  artistName
Madrugada Israel Subira         11.86
          Shawn Mendes           9.44
          joan                   8.72
Manhã     Colo de Deus           5.83
          Rubel                  5.28
          Leandro Borges         5.24
Noite     Johnny Hooker          5.21
          Maria Bethânia         4.99
          Gal Costa              4.94
Tarde     Hugo & Guilherme      14.51
          Wesley Safadão        13.11
          Marília Mendonça      11.98

In [ ]:
round(df_fev_sf['minPlayed'].sum()/60)

9

O que ouvi na primeira semana do projeto 1?

In [ ]:
df_fev_sf.loc[(df_fev_sf['endTime'].dt.date >= pd.to_datetime('2021-02-21')) & (df_fev_sf['endTime'].dt.date <= pd.to_datetime('2021-02-28'))]

                 endTime      artistName  ... customInterval     local
4366 2021-02-21 04:22:00      Igor Roque  ...       Dormindo  Contagem
4367 2021-02-21 04:23:00  Isadora Pompeo  ...       Dormindo  Contagem
4368 2021-02-21 04:26:00       Ton Carfi  ...       Dormindo  Contagem
4369 2021-02-21 04:34:00   Israel Subira  ...       Dormindo  Contagem
4370 2021-02-21 04:38:00   Israel Subira  ...       Dormindo  Contagem

[5 rows x 8 columns]

Navegador

In [ ]:
df_fev_gc['title'].value_counts().head(10)

Play Kahoot! - Enter game PIN here!              92
(20) Página Inicial / Twitter                    41
Netflix                                          39
Higenius Stories Board - Boards                  26
Ebooks Data Science - Gratuito - Google Drive    24
soaresana (Ana Luiza Soares)                     22
Home - Canva                                     21
Aprenda Markdown | Udemy                         20
Facebook                                         20
Colabore e crie designs incríveis de graça       20
Name: title, dtype: int64

E o que eu acessava por intervalo do dia

In [ ]:
# df_fev_gc.reset_index(inplace=True)
# df_fev_gc
# redirect = df_fev_gc.loc[df_fev_gc['title'] == 'Redirect']
# df_fev_gc.drop(index = redirect.index, inplace=True)
# df_fev_gc.drop(columns=['index'],inplace=True)

In [ ]:
# fev_ee = df_fev_gc.query('title.str.contains("vaga qa junior bh") | title.str.contains("Pesquisar todas as vagas | LinkedIn")', engine='python')
# df_fev_gc.drop(index= fev_ee.index, inplace=True)  #LEILÕES ONLINE | Lance24
# fev_ee

In [ ]:
 df_fev_gc[['title','interval']].groupby(['interval', 'title'],as_index=False)\
                                                    .size()\
                                                    .sort_values('size', ascending=False)\
                                                    .groupby('interval', as_index=False)\
                                                    .head(3)\
                                                    .sort_values('interval')

       interval                                              title  size
62    Madrugada                      (20) Página Inicial / Twitter    23
3     Madrugada                                       (1) Facebook    19
350   Madrugada                                           Redirect    17
517       Manhã                                Entrar em sua conta     8
557       Manhã                               SGA - Página Inicial     6
547       Manhã  Produtos educacionais: ferramentas fáceis e pr...     6
1026      Noite                Play Kahoot! - Enter game PIN here!    65
989       Noite                                            Netflix    31
843       Noite      Ebooks Data Science - Gratuito - Google Drive    23
1758      Tarde                Play Kahoot! - Enter game PIN here!    27
1665      Tarde                    Higenius Stories Board - Boards    21
1980      Tarde                       soaresana (Ana Luiza Soares)    20

E as pesquisas relacionados a dados? Vamos dar uma olhada?

In [ ]:
df_fev_gc.query('title.str.contains("Dados") | title.str.contains("Python") | title.str.contains("Análise")\
| title.str.contains("SQL")', engine='python')

                                                   title  ...     local
27756  16 Conselhos Para Aspirantes a Cientistas de D...  ...  Contagem
27839                  Instrução while - Pense em Python  ...  Contagem
27844  (627) Aniversário de 1 ano - 2º dia (Trilha: D...  ...  Contagem
27886  Top 20 Python AI and Machine Learning Open Sou...  ...  Contagem
27953  Ciência de dados para quem precisa de oportuni...  ...  Contagem
...                                                  ...  ...       ...
31199                Trabalhando com variáveis no Python  ...  Contagem
31200  Variáveis. Dados e representações | by Willian...  ...  Contagem
31202  Python - Hipsters #122 - Hipsters Ponto TechHi...  ...  Contagem
31205       (20) @gabriel1991/Ciência de Dados / Twitter  ...  Contagem
31206  (20) @loooorenanicole/Python Brasil 2019 / Twi...  ...  Contagem

[216 rows x 6 columns]

UAU, aumentou consideravelmente

#### **Março - Aprendendo com os erros. A constante evolução!**

DFs Março

In [ ]:
df_mar_yt = df_youtube.loc[(df_youtube['time'] >= mar_inicio) & (df_youtube['time'] <= mar_fim)]

df_mar_sf = df_spotify_music.loc[(df_spotify_music['endTime'] >= mar_inicio) & (df_spotify_music['endTime'] <= mar_fim)]

df_mar_gc = df_nav.loc[(df_nav['time_usec'] >= mar_inicio) & (df_nav['time_usec'] <= mar_fim)]

YOUTUBE

In [ ]:
df_mar_yt.head()

                                                 title  ...  local
474   Python - Acessando API da NASA e salvando dad...  ...  Betim
475   Aulas Python - 062 - POO IV: Herança, Super e...  ...  Betim
476   A morte é um dia que vale a pena viver | Ana ...  ...  Betim
477   Aulas Python - 062 - POO IV: Herança, Super e...  ...  Betim
478   O que é um Objeto, Atributo, Método e Mensage...  ...  Betim

[5 rows x 11 columns]

Canais mais assistidos

In [ ]:
df_mar_yt['channel_name'].value_counts().head(10)

Eduardo Mendes                            10
Programação Dinâmica                       7
Curso em Vídeo                             4
Dr. Sandra Lee (aka Dr. Pimple Popper)     4
Ignorância Zero                            4
TEDx Talks                                 3
CFBCursos                                  3
BBC Earth                                  2
Alexia Evellyn ⋆ ☽                         2
Deive Leonardo                             2
Name: channel_name, dtype: int64

Categoria mais assistida

In [ ]:
df_mar_yt['category'].value_counts()

Education               37
Entertainment           10
Science & Technology     9
People & Blogs           6
Howto & Style            5
Nonprofits &Activism     3
Film & Animation         3
Pets & Animals           2
Music                    2
News & Politics          1
Travel & Events          1
Name: category, dtype: int64

Horários que mais assisti por intervalo e por hora do dia

In [ ]:
# Por intervalo
df_mar_yt['interval'].value_counts()

Manhã        27
Noite        24
Tarde        18
Madrugada    10
Name: interval, dtype: int64

In [ ]:
# Por horário do dia
df_mar_yt.time.dt.hour.value_counts()

12    14
20     8
21     7
18     6
9      6
0      6
19     5
13     5
14     4
11     4
1      4
22     3
15     3
8      2
23     1
10     1
Name: time, dtype: int64

Tempo em minutos que passei assistindo cada categoria

In [ ]:
df_mar_yt[['category', 'minutes']].groupby('category').agg({'minutes':'sum'}).sort_values('minutes', ascending=False)

                      minutes
category
Education             1285.42
Science & Technology   178.31
Entertainment           74.15
Nonprofits &Activism    52.74
Howto & Style           39.02
Music                   31.68
People & Blogs          23.70
Travel & Events         20.00
Film & Animation        17.56
News & Politics          9.87
Pets & Animals           4.56

Quantas horas passei no youtube nesse mês

In [ ]:
round(df_mar_yt['minutes'].sum()/60)

29

Quantidade de vídeos assistidos por categoria em cada intervalo de tempo do dia

In [ ]:
df_mar_yt[['category', 'interval']].groupby(['category', 'interval'], as_index=False).size().sort_values(['category','size'],ascending=False)

                category   interval  size
24       Travel & Events  Madrugada     1
22  Science & Technology      Noite     4
21  Science & Technology      Manhã     3
23  Science & Technology      Tarde     2
19        Pets & Animals      Manhã     1
20        Pets & Animals      Tarde     1
18        People & Blogs      Noite     5
17        People & Blogs      Manhã     1
15  Nonprofits &Activism      Manhã     2
16  Nonprofits &Activism      Tarde     1
14       News & Politics      Noite     1
13                 Music      Tarde     2
10         Howto & Style  Madrugada     2
11         Howto & Style      Noite     2
12         Howto & Style      Tarde     1
7       Film & Animation  Madrugada     1
8       Film & Animation      Noite     1
9       Film & Animation      Tarde     1
5          Entertainment      Noite     6
6          Entertainment      Tarde     3
4          Entertainment      Manhã     1
1              Education      Manhã    19
3              Education      Tarde     7
0              Education  Madrugada     6
2              Education      Noite     5

In [ ]:
df_mar_yt.query('title.str.contains("Dados") | title.str.contains("Python") | title.str.contains("Análise")\
| title.str.contains("SQL")', engine='python')

                                                 title  ...     local
474   Python - Acessando API da NASA e salvando dad...  ...     Betim
475   Aulas Python - 062 - POO IV: Herança, Super e...  ...     Betim
477   Aulas Python - 062 - POO IV: Herança, Super e...  ...     Betim
479   O que são Classes e Como Criar Novos Tipos de...  ...     Betim
483              Curso Python #08 - Utilizando Módulos  ...     Betim
486           POO - Herança / P3 - Curso de Python #25  ...     Betim
487   Live de Python #62 - Programação orientada a ...  ...     Betim
488   Live de Python #61 - Programação orientada a ...  ...     Betim
490   Aulas Python - 062 - POO IV: Herança, Super e...  ...     Betim
493   Aulas Python - 062 - POO IV: Herança, Super e...  ...     Betim
494   Live de Python #64 - Programação orientada a ...  ...     Betim
506   O que são Classes e Como Criar Novos Tipos de...  ...  Contagem
507           POO - Herança / P3 - Curso de Python #25  ...  Contagem
508   Live de Python #64 - Programação orientada a ...  ...  Contagem
509   Live de Python #62 - Programação orientada a ...  ...  Contagem
510           POO - Herança / P3 - Curso de Python #25  ...  Contagem
512   O que são Classes e Como Criar Novos Tipos de...  ...  Contagem
513   Live de Python #61 - Programação orientada a ...  ...  Contagem
514   Live de Python #62 - Programação orientada a ...  ...  Contagem
526   Live de Python #61 - Programação orientada a ...  ...  Contagem
547             Curso Python #01 - Seja um Programador  ...  Contagem
548        Mundo 02 - Curso de Python - Dicas e Regras  ...  Contagem
549               Curso Python #11 - Cores no Terminal  ...  Contagem
551   Live de Python #1 - Testes com Python [Uma in...  ...  Contagem
552        Selenium com Python #00 - Abertura do curso  ...  Contagem

[25 rows x 11 columns]

In [ ]:
df_mar_yt.loc[(df_mar_yt['category'] == 'Education') |  (df_mar_yt['category'] == 'Science & Technology') ]

                                                 title  ...     local
474   Python - Acessando API da NASA e salvando dad...  ...     Betim
475   Aulas Python - 062 - POO IV: Herança, Super e...  ...     Betim
477   Aulas Python - 062 - POO IV: Herança, Super e...  ...     Betim
478   O que é um Objeto, Atributo, Método e Mensage...  ...     Betim
479   O que são Classes e Como Criar Novos Tipos de...  ...     Betim
483              Curso Python #08 - Utilizando Módulos  ...     Betim
486           POO - Herança / P3 - Curso de Python #25  ...     Betim
487   Live de Python #62 - Programação orientada a ...  ...     Betim
488   Live de Python #61 - Programação orientada a ...  ...     Betim
489   CHEGOU! Novo AMAZON Echo Show 10: VOCÊ tem qu...  ...     Betim
490   Aulas Python - 062 - POO IV: Herança, Super e...  ...     Betim
492                   MVC // Dicionário do Programador  ...     Betim
493   Aulas Python - 062 - POO IV: Herança, Super e...  ...     Betim
494   Live de Python #64 - Programação orientada a ...  ...     Betim
496   O que é a Síndrome do Impostor e como é possí...  ...     Betim
500     Conferência ResiLadies - Lugar da Mulher na TI  ...     Betim
502   Representando Objetos em Strings  | Orientaçã...  ...  Contagem
503   Sobrecarga de Operadores | Orientação a Objet...  ...  Contagem
506   O que são Classes e Como Criar Novos Tipos de...  ...  Contagem
507           POO - Herança / P3 - Curso de Python #25  ...  Contagem
508   Live de Python #64 - Programação orientada a ...  ...  Contagem
509   Live de Python #62 - Programação orientada a ...  ...  Contagem
510           POO - Herança / P3 - Curso de Python #25  ...  Contagem
511   O que é um Objeto, Atributo, Método e Mensage...  ...  Contagem
512   O que são Classes e Como Criar Novos Tipos de...  ...  Contagem
513   Live de Python #61 - Programação orientada a ...  ...  Contagem
514   Live de Python #62 - Programação orientada a ...  ...  Contagem
525   J7 prime não da imagem (saiba como resolver) ...  ...  Contagem
526   Live de Python #61 - Programação orientada a ...  ...  Contagem
531   THIS "cyst" worried me as soon as I started s...  ...  Contagem
532                     The Cheek Cyst That Cried Wolf  ...  Contagem
533   Flashback Favorites: Meatball Cyst on the Sho...  ...  Contagem
534                         A Cyst Giving the Evil Eye  ...  Contagem
535   O CIMENTO CORROEU O DEDO DESSA CLIENTE PEDREI...  ...  Contagem
537   Como separar contas por mês no Notion - REPOS...  ...  Contagem
541   Fone bluetooth NÃO CONECTA no CELULAR? APREND...  ...  Contagem
542   MUITO BARATO pelo o QUE ENTREGA! Edifier X3 -...  ...  Contagem
543     Como utilizar o Google Classroom (para alunos)  ...  Contagem
544               TWP150 Repetições imprimindo 1 até 3  ...  Contagem
545       Curso de Informática Básica GRÁTIS – Aula 10  ...  Contagem
546         First of Many — Women’s History Month 2021  ...  Contagem
547             Curso Python #01 - Seja um Programador  ...  Contagem
548        Mundo 02 - Curso de Python - Dicas e Regras  ...  Contagem
549               Curso Python #11 - Cores no Terminal  ...  Contagem
551   Live de Python #1 - Testes com Python [Uma in...  ...  Contagem
552        Selenium com Python #00 - Abertura do curso  ...  Contagem

[46 rows x 11 columns]

Semana final do projeto 1

In [ ]:
df_mar_yt.loc[(df_mar_yt['time'].dt.date >= pd.to_datetime('2021-03-01')) & (df_mar_yt['time'].dt.date <= pd.to_datetime('2021-03-05'))]

                                                 title  ...     local
545       Curso de Informática Básica GRÁTIS – Aula 10  ...  Contagem
546         First of Many — Women’s History Month 2021  ...  Contagem
547             Curso Python #01 - Seja um Programador  ...  Contagem
548        Mundo 02 - Curso de Python - Dicas e Regras  ...  Contagem
549               Curso Python #11 - Cores no Terminal  ...  Contagem
550     Como instalar eletrofita - com Paloma Cipriano  ...  Contagem
551   Live de Python #1 - Testes com Python [Uma in...  ...  Contagem
552        Selenium com Python #00 - Abertura do curso  ...  Contagem

[8 rows x 11 columns]

Primeira semana do projeto 2

In [ ]:
df_mar_yt.loc[(df_mar_yt['time'].dt.date >= pd.to_datetime('2021-03-26')) & (df_mar_yt['time'].dt.date <= pd.to_datetime('2021-03-31'))]

                                                 title  ...  local
474   Python - Acessando API da NASA e salvando dad...  ...  Betim
475   Aulas Python - 062 - POO IV: Herança, Super e...  ...  Betim
476   A morte é um dia que vale a pena viver | Ana ...  ...  Betim
477   Aulas Python - 062 - POO IV: Herança, Super e...  ...  Betim
478   O que é um Objeto, Atributo, Método e Mensage...  ...  Betim
479   O que são Classes e Como Criar Novos Tipos de...  ...  Betim
480   Sobre autoconhecimento e as nossas inteligênc...  ...  Betim
481            Daniel Goleman - Inteligência Emocional  ...  Betim
482   Para Início de Conversa | Carolina Nalon | TE...  ...  Betim
483              Curso Python #08 - Utilizando Módulos  ...  Betim
484   'Just Breathe' by Julie Bayer Salzman & Josh ...  ...  Betim
485                 Iguana vs Snakes | Planet Earth II  ...  Betim
486           POO - Herança / P3 - Curso de Python #25  ...  Betim
487   Live de Python #62 - Programação orientada a ...  ...  Betim
488   Live de Python #61 - Programação orientada a ...  ...  Betim

[15 rows x 11 columns]

Spotify

Artistas mais reproduzidos

In [ ]:
df_mar_sf[['artistName','minPlayed']].groupby(['artistName'], as_index=False)\
                                     .agg({'minPlayed':'sum'})\
                                     .sort_values('minPlayed', ascending=False)\
                                     .head(10)

                  artistName  minPlayed
10           Antonio Vivaldi     186.06
98           Imagine Dragons      98.87
143  Liniker e os Caramelows      40.75
225         Sleeping At Last      34.07
115    Johann Sebastian Bach      33.29
4              Alceu Valença      33.00
43                 DUDA BEAT      28.89
93       Hipsters Ponto Tech      24.64
29            Caetano Veloso      22.04
215                    Rubel      17.88

E quais foram as músicas que mais ouvi?

In [ ]:
df_mar_sf[['trackName','minPlayed']].groupby(['trackName'], as_index=False)\
                                     .agg({'minPlayed':'sum'})\
                                     .sort_values('minPlayed', ascending=False)\
                                     .head(10)

                                             trackName  minPlayed
450                                               Zero      13.30
332                                            Rise Up      12.30
188                                 How to Save a Life      11.98
401  Trello, Jira e Ferramentas de Produtividade – ...      11.23
164                                             Flutua      10.42
293                                          Partilhar      10.00
197                                         Intimidade       9.75
28                                          Anunciação       9.60
5                                         A Casa É Sua       9.37
400                                       Todo Carinho       8.98

E será que tinha um intervalo que eu gostava mais de ouvir música?

In [ ]:
df_mar_sf[['interval','minPlayed']].groupby(['interval'], as_index=False)\
                                                    .agg({'minPlayed':'sum'})\
                                                    .sort_values('minPlayed', ascending=False)\
                                                    .groupby('interval', as_index=False)\
                                                    .head(3)

    interval  minPlayed
2      Noite     531.93
3      Tarde     406.94
1      Manhã     303.47
0  Madrugada     271.09

In [ ]:
df_mar_sf[['artistName','interval','minPlayed']].groupby(['interval', 'artistName'])\
                                                    .agg({'minPlayed':'sum'})\
                                                    .sort_values('minPlayed', ascending=False)\
                                                    .groupby('interval', as_index=False)\
                                                    .head(3)\
                                                    .sort_values('interval')

                                   minPlayed
interval  artistName
Madrugada Imagine Dragons              36.35
          Johann Sebastian Bach        29.29
          Sleeping At Last             15.59
Manhã     DUDA BEAT                    17.88
          Liniker e os Caramelows      16.59
          Hipsters Ponto Tech          12.98
Noite     Antonio Vivaldi             179.92
          Imagine Dragons              59.67
          Liniker e os Caramelows      16.55
Tarde     Ingrid Michaelson            12.06
          Céu                          11.59
          Johnny Hooker                10.59

In [ ]:
round(df_mar_sf['minPlayed'].sum()/60)

25

Músicas ultima semana do projeto 1

In [ ]:
df_mar_sf.loc[(df_mar_sf['endTime'].dt.date >= pd.to_datetime('2021-03-01')) & (df_mar_sf['endTime'].dt.date <= pd.to_datetime('2021-03-05'))].sample(10)

                 endTime             artistName  ...  customInterval     local
4476 2021-03-04 21:56:00        Antonio Vivaldi  ...  Aula faculdade  Contagem
4442 2021-03-04 20:49:00        Antonio Vivaldi  ...  Aula faculdade  Contagem
4448 2021-03-04 21:03:00        Antonio Vivaldi  ...  Aula faculdade  Contagem
4426 2021-03-04 20:15:00        Antonio Vivaldi  ...  Aula faculdade  Contagem
4394 2021-03-02 04:29:00  Johann Sebastian Bach  ...        Dormindo  Contagem
4495 2021-03-05 12:21:00                  Rubel  ...         Estágio  Contagem
4416 2021-03-04 19:35:00        Antonio Vivaldi  ...           Tarde  Contagem
4458 2021-03-04 21:23:00        Antonio Vivaldi  ...  Aula faculdade  Contagem
4378 2021-03-01 21:24:00    Hipsters Ponto Tech  ...  Aula faculdade  Contagem
4473 2021-03-04 21:50:00        Antonio Vivaldi  ...  Aula faculdade  Contagem

[10 rows x 8 columns]

In [ ]:
len(df_mar_sf.loc[(df_mar_sf['endTime'].dt.date >= pd.to_datetime('2021-03-01')) & (df_mar_sf['endTime'].dt.date <= pd.to_datetime('2021-03-05'))])

128

In [ ]:
df_mar_sf.loc[(df_mar_sf['endTime'].dt.date >= pd.to_datetime('2021-03-26')) & (df_mar_sf['endTime'].dt.date <= pd.to_datetime('2021-03-31'))]

                 endTime               artistName  ...  customInterval  local
4874 2021-03-26 12:28:00  Liniker e os Caramelows  ...         Estágio  Betim
4875 2021-03-26 12:32:00            Mariana Aydar  ...         Estágio  Betim
4876 2021-03-26 12:36:00                      Céu  ...         Estágio  Betim
4877 2021-03-26 12:42:00  Liniker e os Caramelows  ...         Estágio  Betim
4878 2021-03-26 12:46:00               Tiago Iorc  ...         Estágio  Betim
4879 2021-03-26 12:50:00            Fino Coletivo  ...         Estágio  Betim
4880 2021-03-26 13:02:00                    Rubel  ...         Estágio  Betim
4881 2021-03-26 13:03:00           Caetano Veloso  ...         Estágio  Betim
4882 2021-03-26 13:08:00           Caetano Veloso  ...         Estágio  Betim
4883 2021-03-26 13:12:00            Bagua Records  ...         Estágio  Betim
4884 2021-03-26 13:15:00              Black Alien  ...         Estágio  Betim
4885 2021-03-26 13:18:00                      Céu  ...         Estágio  Betim
4886 2021-03-26 13:22:00                      Céu  ...         Estágio  Betim
4887 2021-03-26 13:28:00  Lamparina e A Primavera  ...         Estágio  Betim
4888 2021-03-26 15:29:00                      Céu  ...           Tarde  Betim
4889 2021-03-26 15:33:00  Liniker e os Caramelows  ...           Tarde  Betim
4890 2021-03-26 15:37:00          Geraldo Azevedo  ...           Tarde  Betim
4891 2021-03-28 15:58:00              Nia Avellar  ...           Tarde  Betim
4892 2021-03-28 20:59:00            Jorge Ben Jor  ...  Aula faculdade  Betim
4893 2021-03-30 11:52:00      Hipsters Ponto Tech  ...         Estágio  Betim
4894 2021-03-30 14:20:00            Justin Bieber  ...         Estágio  Betim
4895 2021-03-30 14:25:00                Lil Nas X  ...         Estágio  Betim

[22 rows x 8 columns]

Navegador

In [ ]:
df_mar_gc['title'].value_counts().head(10)

Netflix                                            337
TV Globo Ao Vivo | Assista no Globoplay             50
xet do ifood (@xetdoifood) / Twitter                49
Instagram                                           46
Vamo AI - Semana 7 Assessment - Qualified           40
Fazer login nas Contas do Google                    35
Caelum Escola de Tecnologia Cursos Online           33
Stories • Instagram                                 33
Dashboard | Alura - Cursos online de tecnologia     32
Google Agenda - março de 2021                       27
Name: title, dtype: int64

E o que eu acessava por intervalo do dia

In [ ]:
# df_jas_gc.reset_index(inplace=True)
# df_jas_gc
# redirect = df_jas_gc.loc[df_jas_gc['title'] == 'Redirect']
# df_jas_gc.drop(index = redirect.index, inplace=True)
# df_jas_gc.drop(columns=['index','level_0'],inplace=True)

In [ ]:
# ee = df_out_gc.query('title.str.contains("Curriculo Vaga Escriturário") | title.str.contains("Lance")', engine='python')
# df_out_gc.drop(index= ee.index, inplace=True)  #LEILÕES ONLINE | Lance24
# ee

In [ ]:
 df_mar_gc[['title','interval']].groupby(['interval', 'title'],as_index=False)\
                                                    .size()\
                                                    .sort_values('size', ascending=False)\
                                                    .groupby('interval', as_index=False)\
                                                    .head(3)\
                                                    .sort_values('interval')

       interval                                              title  size
270   Madrugada                                            Netflix    80
508   Madrugada            TV Globo Ao Vivo | Assista no Globoplay    49
240   Madrugada                                          Instagram    21
871       Manhã          Vamo AI - Semana 7 Assessment - Qualified    22
847       Manhã                             SGA - Dados Cadastrais    10
726       Manhã  BH é Meu País 🌐 (@bhemeupais) • Fotos e víde...     9
1201      Noite                                            Netflix   100
1524      Noite               xet do ifood (@xetdoifood) / Twitter    49
1110      Noite  Doctoralia - Encontre um profissional da saúde...    22
1881      Tarde                                            Netflix   150
1781      Tarde                   Fazer login nas Contas do Google    33
1641      Tarde  Ana Luiza Soares - Preparação para a aula 6 - ...    26

E as pesquisas relacionados a dados? Vamos dar uma olhada?

In [ ]:
df_mar_gc.query('title.str.contains("Dados") | title.str.contains("Python") | title.str.contains("Análise")\
| title.str.contains("SQL")', engine='python')

                                                   title  ...     local
22892  (194) Python - Acessando API da NASA e salvand...  ...     Betim
22905  (186) Python - Acessando API da NASA e salvand...  ...     Betim
22909  Scientific-Guy / python-nasa-api: Simple NASA ...  ...     Betim
22911  Consumindo NASA API usando Python - Parte 1 | ...  ...     Betim
22912                              Daily Python – Medium  ...     Betim
...                                                  ...  ...       ...
27294          (640) Curso Selenium com Python - YouTube  ...  Contagem
27296  (640) Selenium com Python #00 - Abertura do cu...  ...  Contagem
27298  (640) Selenium com Python #00 - Abertura do cu...  ...  Contagem
27299  (640) Selenium com Python #00 - Abertura do cu...  ...  Contagem
27324  Azure DevOps, Jira ou Monday: Uma Análise de F...  ...  Contagem

[485 rows x 6 columns]

#### **Abril e Maio - Praticando o desapego, a evolução constante no meio do caminho**

DFs Abril e Maio

In [ ]:
df_abmai_yt = df_youtube.loc[(df_youtube['time'] >= abmai_inicio) & (df_youtube['time'] <= abmai_fim)]

df_abmai_sf = df_spotify_music.loc[(df_spotify_music['endTime'] >= abmai_inicio) & (df_spotify_music['endTime'] <= abmai_fim)]

df_abmai_gc = df_nav.loc[(df_nav['time_usec'] >= abmai_inicio) & (df_nav['time_usec'] <= abmai_fim)]

YOUTUBE

In [ ]:
df_abmai_yt.head()

                                                 title  ...  local
205   O pensamento da Modernidade - entrevista com ...  ...  Betim
206   IBM Data Science Professional Certificate Wor...  ...  Betim
207   Google vs IBM Data Analyst Certificate - BEST...  ...  Betim
208                            Supletivo DH - Metabase  ...  Betim
209   Cursos gratuitos em análise de dados com cert...  ...  Betim

[5 rows x 11 columns]

Canais mais assistidos

In [ ]:
df_abmai_yt['channel_name'].value_counts().head(10)

Programação Dinâmica           12
Bóson Treinamentos             10
Seja Um Data Scientist          9
Hana Beauty                     9
EdukaTI                         6
Equaciona Com Paulo Pereira     6
DesCOMPlica, Oliba!             5
Marcio Gondim                   5
iFood Universo                  5
Epifania Experiência            4
Name: channel_name, dtype: int64

Categoria mais assistida

In [ ]:
df_abmai_yt['category'].value_counts()

People & Blogs          74
Science & Technology    67
Education               63
Entertainment           29
Music                   20
Film & Animation         8
Howto & Style            5
Nonprofits &Activism     1
Sports                   1
Travel & Events          1
Name: category, dtype: int64

Horários que mais assisti por intervalo e por hora do dia

In [ ]:
# Por intervalo
df_abmai_yt['interval'].value_counts()

Noite        82
Madrugada    69
Manhã        66
Tarde        52
Name: interval, dtype: int64

In [ ]:
# Por horário do dia
df_abmai_yt.time.dt.hour.value_counts()

0     49
22    29
12    23
23    23
11    17
1     17
13    17
17    13
10    13
20    11
21    11
9     11
16    10
18     9
19     8
15     3
8      2
4      2
2      1
Name: time, dtype: int64

Tempo em minutos que passei assistindo cada categoria

In [ ]:
df_abmai_yt[['category', 'minutes']].groupby('category').agg({'minutes':'sum'}).sort_values('minutes', ascending=False)

                      minutes
category
Science & Technology  1940.95
People & Blogs        1742.87
Education             1226.21
Entertainment          999.70
Music                  701.87
Film & Animation        70.59
Howto & Style           48.32
Nonprofits &Activism    14.12
Travel & Events          7.67
Sports                   0.60

Quantas horas passei no youtube nesse mês

In [ ]:
round(df_abmai_yt['minutes'].sum()/60)

113

Quantidade de vídeos assistidos por categoria em cada intervalo de tempo do dia

In [ ]:
df_abmai_yt[['category', 'interval']].groupby(['category', 'interval'], as_index=False).size().sort_values(['category','size'],ascending=False)

                category   interval  size
27       Travel & Events  Madrugada     1
26                Sports  Madrugada     1
24  Science & Technology      Noite    28
23  Science & Technology      Manhã    17
25  Science & Technology      Tarde    13
22  Science & Technology  Madrugada     9
18        People & Blogs  Madrugada    25
19        People & Blogs      Manhã    21
20        People & Blogs      Noite    18
21        People & Blogs      Tarde    10
17  Nonprofits &Activism      Tarde     1
15                 Music      Manhã    11
16                 Music      Tarde     9
12         Howto & Style  Madrugada     3
13         Howto & Style      Noite     1
14         Howto & Style      Tarde     1
10      Film & Animation      Noite     4
9       Film & Animation      Manhã     2
8       Film & Animation  Madrugada     1
11      Film & Animation      Tarde     1
4          Entertainment  Madrugada    14
7          Entertainment      Tarde     7
6          Entertainment      Noite     5
5          Entertainment      Manhã     3
2              Education      Noite    26
0              Education  Madrugada    15
1              Education      Manhã    12
3              Education      Tarde    10

In [ ]:
df_abmai_yt.query('title.str.contains("Dados") | title.str.contains("Python") | title.str.contains("Análise")\
| title.str.contains("SQL")', engine='python')

                                                 title  ...  local
215   Natural Language Processing (NLP) Tutorial wi...  ...  Betim
217   #LiveAfroPython | Introdução à NLP e Análise ...  ...  Betim
222   Altere a Aparência dos Gráficos do Matplotlib...  ...  Betim
223   #01 - Introdução à Biblioteca Numpy | Data Sc...  ...  Betim
225   Natural Language Processing (NLP) Tutorial wi...  ...  Betim
..                                                 ...  ...    ...
469   Python Tutorial: GUI Calculator with Model Vi...  ...  Betim
470            Como enviar Requisicões HTTP com Python  ...  Betim
471   Consumindo uma API Rest usando requests em Py...  ...  Betim
472   Consumindo dados da API do YOUTUBE com Python...  ...  Betim
473   Python - Acessando API da NASA e salvando dad...  ...  Betim

[68 rows x 11 columns]

In [ ]:
df_abmai_yt.loc[(df_abmai_yt['category'] == 'Education') | (df_abmai_yt['category'] == 'Science & Technology')]

                                                 title  ...  local
206   IBM Data Science Professional Certificate Wor...  ...  Betim
207   Google vs IBM Data Analyst Certificate - BEST...  ...  Betim
214   A assexualidade para a psicanálise | Christia...  ...  Betim
215   Natural Language Processing (NLP) Tutorial wi...  ...  Betim
219   NLP - MACHINE LEARNING PARA TEXTOS - Processa...  ...  Betim
..                                                 ...  ...    ...
469   Python Tutorial: GUI Calculator with Model Vi...  ...  Betim
470            Como enviar Requisicões HTTP com Python  ...  Betim
471   Consumindo uma API Rest usando requests em Py...  ...  Betim
472   Consumindo dados da API do YOUTUBE com Python...  ...  Betim
473   Python - Acessando API da NASA e salvando dad...  ...  Betim

[130 rows x 11 columns]

 Dias do projeto 2

In [ ]:
df_abmai_yt.loc[(df_abmai_yt['time'].dt.date >= pd.to_datetime('2021-04-01')) & (df_abmai_yt['time'].dt.date <= pd.to_datetime('2021-04-09'))]

                                                 title  ...  local
445                                       New Horizons  ...  Betim
446   Understanding if __name__ == “__main__” in Py...  ...  Betim
447         Python Tutorial: if __name__ == '__main__'  ...  Betim
448           Best Practices for Python Main Functions  ...  Betim
449   MODIFICANDO o tamanho das COLUNAS de um DataF...  ...  Betim
450   CONVERTENDO uma coluna de um DataFrame do Pan...  ...  Betim
451                    Comparing C to machine language  ...  Betim
452   Python Flask Tutorial: Full-Featured Web App ...  ...  Betim
453   Python Flask Tutorial: Full-Featured Web App ...  ...  Betim
454   Python Flask Tutorial: Full-Featured Web App ...  ...  Betim
455   Desenvolvimento web com Python usando Flask #...  ...  Betim
456               Aula 1 - Introdução - Curso de Flask  ...  Betim
457   Python Flask Tutorial For Beginners | Flask W...  ...  Betim
458                    Build A Python GUI App Tutorial  ...  Betim
459   How to Create a  Pharmacy Management System w...  ...  Betim
460     Create multiple windows with Tkinter in Python  ...  Betim
461   Create a GUI app with Tkinter - Step by Step ...  ...  Betim
462                    Build A Python GUI App Tutorial  ...  Betim
463                  Utilizando a API de dados do IBGE  ...  Betim
464   Consumindo API com Python e consultando ender...  ...  Betim
465   Python Tutorial: GUI Calculator with Model Vi...  ...  Betim
466   Consumindo API com Python e consultando ender...  ...  Betim
467                  Utilizando a API de dados do IBGE  ...  Betim
468   Python Tutorial: GUI Calculator with Model Vi...  ...  Betim
469   Python Tutorial: GUI Calculator with Model Vi...  ...  Betim
470            Como enviar Requisicões HTTP com Python  ...  Betim
471   Consumindo uma API Rest usando requests em Py...  ...  Betim
472   Consumindo dados da API do YOUTUBE com Python...  ...  Betim
473   Python - Acessando API da NASA e salvando dad...  ...  Betim

[29 rows x 11 columns]

Dias do projeto 3

In [ ]:
df_abmai_yt.loc[(df_abmai_yt['time'].dt.date >= pd.to_datetime('2021-05-14')) & (df_abmai_yt['time'].dt.date <= pd.to_datetime('2021-05-28'))]

                                                 title  ...  local
205   O pensamento da Modernidade - entrevista com ...  ...  Betim
206   IBM Data Science Professional Certificate Wor...  ...  Betim
207   Google vs IBM Data Analyst Certificate - BEST...  ...  Betim
208                            Supletivo DH - Metabase  ...  Betim
209   Cursos gratuitos em análise de dados com cert...  ...  Betim
210   Cursos gratuitos em análise de dados com cert...  ...  Betim
211                            Supletivo DH - Metabase  ...  Betim
212   Cursos gratuitos em análise de dados com cert...  ...  Betim
213                            Supletivo DH - Metabase  ...  Betim
214   A assexualidade para a psicanálise | Christia...  ...  Betim
215   Natural Language Processing (NLP) Tutorial wi...  ...  Betim
216   MARIA HOMEM | FREUD: SEXUALIDADE PERVERSO POL...  ...  Betim
217   #LiveAfroPython | Introdução à NLP e Análise ...  ...  Betim
218          A inveja do pênis - Édipo do Zero aula 10  ...  Betim
219   NLP - MACHINE LEARNING PARA TEXTOS - Processa...  ...  Betim
220                             MARIA HOMEM: PRINCESAS  ...  Betim
221                                Charutos e Mulheres  ...  Betim
222   Altere a Aparência dos Gráficos do Matplotlib...  ...  Betim
223   #01 - Introdução à Biblioteca Numpy | Data Sc...  ...  Betim
224   Instalando e Testando o Jupyter Notebook no V...  ...  Betim
225   Natural Language Processing (NLP) Tutorial wi...  ...  Betim
226   Python SEM ERRO de Instalação com Anaconda | ...  ...  Betim
227   Como usar equações para personalizar a fonte ...  ...  Betim
228   Lofi Hiphop - Brasil Playlist  Beats pra rela...  ...  Betim
229   LOFI NORDESTE MIX | Zé Ramalho, Alceu Valença...  ...  Betim
230                             Using linked databases  ...  Betim
231              Build a personal tasks page in Notion  ...  Betim
232                                Creating a database  ...  Betim
233   LOFI NORDESTE | Zé Ramalho, Alceu Valença, Lu...  ...  Betim
234               How To ADD GOOGLE CALENDAR To NOTION  ...  Betim
235   LOFI NORDESTE | Zé Ramalho, Alceu Valença, Lu...  ...  Betim
236   Notion Widget Embeds –  Adding Weather Widget...  ...  Betim
237   Lofi Brasil Rádio Mix | 2 Horas de Lofi Hip H...  ...  Betim
238   BURGER 🍔 and FRENCH FRIES after 60 days in Ep...  ...  Betim
239   NLP - MACHINE LEARNING PARA TEXTOS - Processa...  ...  Betim
240   NLP: MEDINDO SIMILARIDADE ENTRE TEXTOS COM PY...  ...  Betim
241            Twitter Sentiment Analysis Using Python  ...  Betim
242      HOWTO: Use DBeaver to query Google's BigQuery  ...  Betim
243   GOOGLE CLOUD PLATFORM COMO USAR O QUE É WINDO...  ...  Betim
244                     23 Notion Tips, Hacks & Tricks  ...  Betim
245    The Handmaid's Tale 4x01, 02, 03 e 04 | Análise  ...  Betim
246    NOVIDADE! NÃO BEBA CAFÉ ANTES DE VER ESSE VÍDEO  ...  Betim
247   Satisfying Relaxing with Best Video Sac Dep S...  ...  Betim
248   CONSERTANDO Coluna Travada NA MÃO! *Parece Mi...  ...  Betim
249   Satisfying Relaxing with Best Video Sac Dep S...  ...  Betim
250   Relaxing Time Every Day with Sophia Skin Care...  ...  Betim
251       AGE 12 TO MARRIED – I Took A Photo Every Day  ...  Betim
252   En eski çoraplarla dahi sonuç mükemmel / Süpe...  ...  Betim
253                            Notion - Blocos parte 1  ...  Betim
254                 Live de Python #161 -  Plotly Dash  ...  Betim
255         Aula #06 - Tipos de Visualização de Dados.  ...  Betim
256   Build Online Dashboards from Database Data in...  ...  Betim
257   PostgreSQL: Limit, Offset & Fetch | Course | ...  ...  Betim
258    Curso MySQL #16 - INNER JOIN com várias tabelas  ...  Betim

[54 rows x 11 columns]

Spotify

Artistas mais reproduzidos

In [ ]:
df_abmai_sf[['artistName','minPlayed']].groupby(['artistName'], as_index=False)\
                                     .agg({'minPlayed':'sum'})\
                                     .sort_values('minPlayed', ascending=False)\
                                     .head(10)

             artistName  minPlayed
226      Jorge & Mateus     284.44
188  Henrique & Juliano     204.43
53        Billie Eilish     108.56
105           DUDA BEAT     101.69
92         Colo de Deus      65.64
229     João Figueiredo      63.96
336      Marcelo Jeneci      58.17
348     Matheus & Kauan      53.91
278       Lewis Capaldi      51.62
460               Rubel      50.88

E quais foram as músicas que mais ouvi?

In [ ]:
df_abmai_sf[['trackName','minPlayed']].groupby(['trackName'], as_index=False)\
                                     .agg({'minPlayed':'sum'})\
                                     .sort_values('minPlayed', ascending=False)\
                                     .head(10)

                   trackName  minPlayed
731                Partilhar      34.11
718              Ousado Amor      33.71
728               Paradigmas      32.17
574         Me Leva Pra Casa      31.09
1132              É Problema      27.33
652           No Time To Die      24.67
904        Someone You Loved      23.97
933   Só Sei Dançar Com Você      23.02
354       Eu Te Vejo Em Tudo      22.58
367          Facas - Ao Vivo      21.81

E será que tinha um intervalo que eu gostava mais de ouvir música?

In [ ]:
df_abmai_sf[['interval','minPlayed']].groupby(['interval'], as_index=False)\
                                                    .agg({'minPlayed':'sum'})\
                                                    .sort_values('minPlayed', ascending=False)\
                                                    .groupby('interval', as_index=False)\
                                                    .head(3)

    interval  minPlayed
3      Tarde    1981.72
0  Madrugada    1134.48
1      Manhã     937.20
2      Noite     573.27

In [ ]:
df_abmai_sf[['artistName','interval','minPlayed']].groupby(['interval', 'artistName'])\
                                                    .agg({'minPlayed':'sum'})\
                                                    .sort_values('minPlayed', ascending=False)\
                                                    .groupby('interval', as_index=False)\
                                                    .head(3)\
                                                    .sort_values('interval')

                              minPlayed
interval  artistName
Madrugada Jorge & Mateus          83.57
          Billie Eilish           76.54
          Lewis Capaldi           25.36
Manhã     Colo de Deus            33.47
          Lewis Capaldi           26.22
          Billie Eilish           20.44
Noite     DUDA BEAT               31.37
          Henrique & Juliano      25.06
          Rubel                   24.57
Tarde     Jorge & Mateus         158.94
          Henrique & Juliano     151.08
          DUDA BEAT               61.07

In [ ]:
round(df_abmai_sf['minPlayed'].sum()/60)

77

O que mais ouvi nos dias de projetos?

Projeto 2

In [ ]:
df_abmai_sf.loc[(df_abmai_sf['endTime'].dt.date >= pd.to_datetime('2021-04-01')) & (df_abmai_sf['endTime'].dt.date <= pd.to_datetime('2021-04-09'))]

                 endTime            artistName  ...  customInterval  local
4904 2021-04-01 20:36:00         Johnny Hooker  ...  Aula faculdade  Betim
4905 2021-04-01 20:40:00  Francisco, el Hombre  ...  Aula faculdade  Betim
4906 2021-04-01 20:45:00         Johnny Hooker  ...  Aula faculdade  Betim
4907 2021-04-01 20:49:00                 Rubel  ...  Aula faculdade  Betim
4908 2021-04-01 20:53:00             DUDA BEAT  ...  Aula faculdade  Betim
...                  ...                   ...  ...             ...    ...
5127 2021-04-09 10:34:00        Wesley Safadão  ...         Estágio  Betim
5128 2021-04-09 10:36:00        Jorge & Mateus  ...         Estágio  Betim
5129 2021-04-09 10:39:00               DJ Ivis  ...         Estágio  Betim
5130 2021-04-09 10:42:00      Luíza & Maurílio  ...         Estágio  Betim
5131 2021-04-09 10:45:00             DUDA BEAT  ...         Estágio  Betim

[228 rows x 8 columns]

Projeto 3

In [ ]:
df_abmai_sf.loc[(df_abmai_sf['endTime'].dt.date >= pd.to_datetime('2021-05-14')) & (df_abmai_sf['endTime'].dt.date <= pd.to_datetime('2021-05-28'))]

                 endTime          artistName  ...  customInterval  local
6391 2021-05-14 12:47:00    Marcos & Belutti  ...         Estágio  Betim
6392 2021-05-14 12:48:00       Lewis Capaldi  ...         Estágio  Betim
6393 2021-05-14 12:50:00      Jorge & Mateus  ...         Estágio  Betim
6394 2021-05-14 12:53:00  Henrique & Juliano  ...         Estágio  Betim
6395 2021-05-14 12:57:00        Luan Santana  ...         Estágio  Betim
...                  ...                 ...  ...             ...    ...
6574 2021-05-26 11:51:00       Israel Subira  ...         Estágio  Betim
6575 2021-05-27 12:33:00             Emicida  ...         Estágio  Betim
6576 2021-05-27 12:37:00                 Jão  ...         Estágio  Betim
6577 2021-05-27 12:43:00             O Rappa  ...         Estágio  Betim
6578 2021-05-27 22:57:00   Baco Exu do Blues  ...  Aula faculdade  Betim

[188 rows x 8 columns]

No dia 14/05 eu encerrei meu contrato de estágio, vamos ver o que escutei nesse dia.

In [ ]:
df_abmai_sf.loc[(df_abmai_sf['endTime'].dt.date == pd.to_datetime('2021-05-14'))]

                 endTime              artistName  ... customInterval  local
6391 2021-05-14 12:47:00        Marcos & Belutti  ...        Estágio  Betim
6392 2021-05-14 12:48:00           Lewis Capaldi  ...        Estágio  Betim
6393 2021-05-14 12:50:00          Jorge & Mateus  ...        Estágio  Betim
6394 2021-05-14 12:53:00      Henrique & Juliano  ...        Estágio  Betim
6395 2021-05-14 12:57:00            Luan Santana  ...        Estágio  Betim
6396 2021-05-14 12:59:00               GIULIA BE  ...        Estágio  Betim
6397 2021-05-14 13:02:00                  Hotelo  ...        Estágio  Betim
6398 2021-05-14 13:05:00  Os Barões Da Pisadinha  ...        Estágio  Betim
6399 2021-05-14 13:07:00       Israel & Rodolffo  ...        Estágio  Betim
6400 2021-05-14 13:11:00              Raça Negra  ...        Estágio  Betim
6401 2021-05-14 13:14:00     Zé Neto & Cristiano  ...        Estágio  Betim
6402 2021-05-14 13:16:00        Maiara & Maraisa  ...        Estágio  Betim
6403 2021-05-14 13:19:00          Jorge & Mateus  ...        Estágio  Betim
6404 2021-05-14 13:22:00      Henrique & Juliano  ...        Estágio  Betim
6405 2021-05-14 13:25:00     Fernando & Sorocaba  ...        Estágio  Betim
6406 2021-05-14 13:28:00         Matheus & Kauan  ...        Estágio  Betim
6407 2021-05-14 13:31:00          Jorge & Mateus  ...        Estágio  Betim
6408 2021-05-14 13:34:00        Luíza & Maurílio  ...        Estágio  Betim
6409 2021-05-14 13:37:00           Pabllo Vittar  ...        Estágio  Betim
6410 2021-05-14 13:41:00            Luan Santana  ...        Estágio  Betim
6411 2021-05-14 13:41:00        Cristiano Araújo  ...        Estágio  Betim
6412 2021-05-14 13:45:00               DUDA BEAT  ...        Estágio  Betim
6413 2021-05-14 13:48:00               DUDA BEAT  ...        Estágio  Betim
6414 2021-05-14 13:52:00               DUDA BEAT  ...        Estágio  Betim
6415 2021-05-14 13:56:00               DUDA BEAT  ...        Estágio  Betim
6416 2021-05-14 14:00:00               DUDA BEAT  ...        Estágio  Betim
6417 2021-05-14 14:03:00               DUDA BEAT  ...        Estágio  Betim
6418 2021-05-14 14:07:00               DUDA BEAT  ...        Estágio  Betim
6419 2021-05-14 14:11:00               DUDA BEAT  ...        Estágio  Betim
6420 2021-05-14 14:12:00               DUDA BEAT  ...        Estágio  Betim
6421 2021-05-14 14:16:00               DUDA BEAT  ...        Estágio  Betim
6422 2021-05-14 14:20:00               DUDA BEAT  ...        Estágio  Betim
6423 2021-05-14 14:24:00               DUDA BEAT  ...        Estágio  Betim
6424 2021-05-14 14:28:00                   Rubel  ...        Estágio  Betim
6425 2021-05-14 14:32:00    Francisco, el Hombre  ...        Estágio  Betim
6426 2021-05-14 14:37:00                Mahmundi  ...        Estágio  Betim
6427 2021-05-14 14:38:00                  Hotelo  ...        Estágio  Betim

[37 rows x 8 columns]

Navegador

In [ ]:
df_abmai_gc['title'].value_counts().head(10)

nlp.ipynb - Colaboratory                              407
Pergunta · Metabase                                   183
Netflix                                               150
Metabase                                              116
Gartic Phone - Telefone sem fio                        88
Avaliação - Projeto Final Módulo 2                     79
cloud_tag.ipynb - Colaboratory                         77
Perguntas - Documentos Google                          69
Hoppscotch - Open source API development ecosystem     65
Teste de Raciocínio Fluido                             62
Name: title, dtype: int64

E o que eu acessava por intervalo do dia

In [ ]:
# df_jas_gc.reset_index(inplace=True)
# df_jas_gc
# redirect = df_jas_gc.loc[df_jas_gc['title'] == 'Redirect']
# df_jas_gc.drop(index = redirect.index, inplace=True)
# df_jas_gc.drop(columns=['index','level_0'],inplace=True)

In [ ]:
# ee = df_out_gc.query('title.str.contains("Curriculo Vaga Escriturário") | title.str.contains("Lance")', engine='python')
# df_out_gc.drop(index= ee.index, inplace=True)  #LEILÕES ONLINE | Lance24
# ee

In [ ]:
 df_abmai_gc[['title','interval']].groupby(['interval', 'title'],as_index=False)\
                                                    .size()\
                                                    .sort_values('size', ascending=False)\
                                                    .groupby('interval', as_index=False)\
                                                    .head(3)\
                                                    .sort_values('interval')

       interval                                            title  size
944   Madrugada                         nlp.ipynb - Colaboratory   193
583   Madrugada                                          Netflix   128
930   Madrugada  imersão_dados_alura_aula01.ipynb - Colaboratory    48
1299      Manhã        Livros | Amazon.com.br Dicas de presentes    27
1461      Manhã                         nlp.ipynb - Colaboratory    19
1310      Manhã                                         Metabase    15
2204      Noite                              Pergunta · Metabase   172
2717      Noite                         nlp.ipynb - Colaboratory   127
1972      Noite                  Gartic Phone - Telefone sem fio    88
3105      Tarde               Avaliação - Projeto Final Módulo 2    76
4216      Tarde                         nlp.ipynb - Colaboratory    68
3663      Tarde                    Perguntas - Documentos Google    36

E as pesquisas relacionados a dados? Vamos dar uma olhada?

In [ ]:
df_abmai_gc.query('title.str.contains("Dados") | title.str.contains("Python") | title.str.contains("Análise")\
| title.str.contains("SQL")', engine='python')

                                                   title  ...  local
13249  Working with GCP: Take Cloud SQL to the next l...  ...  Betim
13394            MER e DER: Modelagem de Bancos de Dados  ...  Betim
13467  Aprenda a converter minutos no formato de hora...  ...  Betim
13472                                    SQL CREATE VIEW  ...  Betim
13473              Como funcionam as Views no PostgreSQL  ...  Betim
...                                                  ...  ...    ...
22722  Consumindo NASA API usando Python - Parte 1 | ...  ...  Betim
22723  (215) Como enviar Requisicões HTTP com Python ...  ...  Betim
22730  (215) Consumindo dados da API do YOUTUBE com P...  ...  Betim
22732  (215) Consumindo uma API Rest usando requests ...  ...  Betim
22738  (215) Consumindo dados da API do YOUTUBE com P...  ...  Betim

[769 rows x 6 columns]

#### **Junho - Estudar, estudar, estudar... foi aqui que pediram dedicação?**

DFs Junho

In [ ]:
df_jun_yt = df_youtube.loc[(df_youtube['time'] >= jun_inicio) & (df_youtube['time'] <= jun_fim)]

df_jun_sf = df_spotify_music.loc[(df_spotify_music['endTime'] >= jun_inicio) & (df_spotify_music['endTime'] <= jun_fim)]

df_jun_gc = df_nav.loc[(df_nav['time_usec'] >= jun_inicio) & (df_nav['time_usec'] <= jun_fim)]

YOUTUBE

In [ ]:
df_jun_yt.head()

                                                title  ...  local
8    Como combinar dois conjuntos de dados? | Anál...  ...  Betim
9    Gráfico com quatro quadrantes em Python | Aná...  ...  Betim
10   Tableau Full Course In 8 Hours | Tableau Tuto...  ...  Betim
11   Tableau Training for Beginners Part 1 | Learn...  ...  Betim
12   Tableau Interview Questions & Answers | Table...  ...  Betim

[5 rows x 11 columns]

Canais mais assistidos

In [ ]:
df_jun_yt['channel_name'].value_counts().head(10)

Programação Dinâmica    38
Diolinux                13
Eduardo Mendes           5
PomplamooseMusic         4
Maria Homem              4
Henrique e Juliano       4
Tunable Music            3
Nayam Amarshe            3
Simplilearn              3
Ventania - Topic         3
Name: channel_name, dtype: int64

Categoria mais assistida

In [ ]:
df_jun_yt['category'].value_counts()

Education               58
Music                   56
Science & Technology    33
People & Blogs          20
Entertainment            9
Howto & Style            3
Gaming                   3
23                       2
Travel & Events          1
Name: category, dtype: int64

Horários que mais assisti por intervalo e por hora do dia

In [ ]:
# Por intervalo
df_jun_yt['interval'].value_counts()

Manhã        73
Noite        57
Tarde        53
Madrugada     2
Name: interval, dtype: int64

In [ ]:
# Por horário do dia
df_jun_yt.time.dt.hour.value_counts()

11    26
10    24
19    17
18    16
23    13
15    12
22    11
12    11
13    10
21     8
20     8
17     6
16     6
8      5
9      5
14     3
7      2
0      2
Name: time, dtype: int64

Tempo em minutos que passei assistindo cada categoria

In [ ]:
df_jun_yt[['category', 'minutes']].groupby('category').agg({'minutes':'sum'}).sort_values('minutes', ascending=False)

                      minutes
category
Education             2800.48
Music                 1763.69
People & Blogs         490.84
Science & Technology   452.32
Entertainment          410.84
Gaming                  27.72
Howto & Style           12.04
23                       8.55
Travel & Events          1.30

Quantas horas passei no youtube nesse mês

In [ ]:
round(df_jun_yt['minutes'].sum()/60)

99

Quantidade de vídeos assistidos por categoria em cada intervalo de tempo do dia

In [ ]:
df_jun_yt[['category', 'interval']].groupby(['category', 'interval'], as_index=False).size().sort_values(['category','size'],ascending=False)

                category   interval  size
22       Travel & Events      Noite     1
19  Science & Technology      Manhã    14
21  Science & Technology      Tarde    10
20  Science & Technology      Noite     9
18        People & Blogs      Tarde     9
16        People & Blogs      Manhã     8
17        People & Blogs      Noite     3
13                 Music      Manhã    25
14                 Music      Noite    23
15                 Music      Tarde     8
11         Howto & Style      Manhã     2
12         Howto & Style      Noite     1
8                 Gaming      Manhã     1
9                 Gaming      Noite     1
10                Gaming      Tarde     1
6          Entertainment      Noite     4
5          Entertainment      Manhã     3
7          Entertainment      Tarde     2
4              Education      Tarde    23
2              Education      Manhã    20
3              Education      Noite    13
1              Education  Madrugada     2
0                     23      Noite     2

In [ ]:
df_jun_yt.query('title.str.contains("Dados") | title.str.contains("Python") | title.str.contains("Análise")\
| title.str.contains("SQL")', engine='python')

                                                 title  ...  local
8     Como combinar dois conjuntos de dados? | Anál...  ...  Betim
9     Gráfico com quatro quadrantes em Python | Aná...  ...  Betim
15    Gráfico de dispersão utilizando latitude e lo...  ...  Betim
16    ADICIONANDO marcadores no gráfico do MATPLOTL...  ...  Betim
17    Gráfico com quatro quadrantes em Python | Aná...  ...  Betim
18    Como combinar dois conjuntos de dados? | Anál...  ...  Betim
19    Como manipular um DataFrame e EXPORTAR para C...  ...  Betim
20    Como fazer gráfico de um DataFrame do Pandas?...  ...  Betim
21           Gráficos em Python? | Análise de dados #7  ...  Betim
22    Analisando os DADOS do questionário SOCIOECON...  ...  Betim
23    Manipulando Dataframe do Pandas | Análise de ...  ...  Betim
26    O poder do GROUPBY (pacote Pandas)| Análise d...  ...  Betim
27    Um candidato de 98 anos fez o ENEM! | Análise...  ...  Betim
29    Um candidato de 98 anos fez o ENEM! | Análise...  ...  Betim
31    Como manipular um DataFrame e EXPORTAR para C...  ...  Betim
32    Python PANDAS - Como alterar uma coluna basea...  ...  Betim
33    Um candidato de 98 anos fez o ENEM! | Análise...  ...  Betim
35    Um candidato de 98 anos fez o ENEM! | Análise...  ...  Betim
36    Como abrir(importar) um dataset em Python? | ...  ...  Betim
37    VOCÊ SABE EXTRAIR INFORMAÇÕES DE DADOS? | Aná...  ...  Betim
48    VOCÊ SABE EXTRAIR INFORMAÇÕES DE DADOS? | Aná...  ...  Betim
50    Introdução  à Big Data e Engenharia de Dados ...  ...  Betim
62    Corrida de CASOS de COVID no Brasil | Gráfico...  ...  Betim
75    Como fazer gráfico de um DataFrame do Pandas?...  ...  Betim
90    Scraping Data Off Twitter Using Python | Twit...  ...  Betim
125   #01 - Introdução à Biblioteca Numpy | Data Sc...  ...  Betim
143   Como criar gráficos em Python com Matplotlib ...  ...  Betim
165   [Webscraping] Análise de Sentimentos no Twitt...  ...  Betim
166   Live #6: Análise de Sentimentos Utilizando Da...  ...  Betim
167   Scraping Data Off Twitter Using Python | Twit...  ...  Betim
168          SQLAlchemy ORM Tutorial #1 - Introduction  ...  Betim
170   O que um CIENTISTA DE DADOS JUNIOR precisa sa...  ...  Betim
185                   Live de Python #87 - Decoradores  ...  Betim
186        Aulas Python - 126 - Decoradores de Funções  ...  Betim
189   Novidades do SQLAlchemy (orm async, 2.0 e que...  ...  Betim
190               Live de Python #139 - SQLAlchemy ORM  ...  Betim
191   Novidades do SQLAlchemy (orm async, 2.0 e que...  ...  Betim
192               Live de Python #139 - SQLAlchemy ORM  ...  Betim

[38 rows x 11 columns]

Projeto 4

In [ ]:
df_jun_yt.loc[(df_jun_yt['time'].dt.date >= pd.to_datetime('2021-06-18')) & (df_jun_yt['time'].dt.date <= pd.to_datetime('2021-06-30'))]

                                                title  ...  local
8    Como combinar dois conjuntos de dados? | Anál...  ...  Betim
9    Gráfico com quatro quadrantes em Python | Aná...  ...  Betim
10   Tableau Full Course In 8 Hours | Tableau Tuto...  ...  Betim
11   Tableau Training for Beginners Part 1 | Learn...  ...  Betim
12   Tableau Interview Questions & Answers | Table...  ...  Betim
13   Tableau Full Course | Learn Tableau In 8 Hour...  ...  Betim
14   Tableau Training  | Tableau Training for Begi...  ...  Betim
15   Gráfico de dispersão utilizando latitude e lo...  ...  Betim
16   ADICIONANDO marcadores no gráfico do MATPLOTL...  ...  Betim
17   Gráfico com quatro quadrantes em Python | Aná...  ...  Betim
18   Como combinar dois conjuntos de dados? | Anál...  ...  Betim
19   Como manipular um DataFrame e EXPORTAR para C...  ...  Betim
20   Como fazer gráfico de um DataFrame do Pandas?...  ...  Betim
21          Gráficos em Python? | Análise de dados #7  ...  Betim
22   Analisando os DADOS do questionário SOCIOECON...  ...  Betim
23   Manipulando Dataframe do Pandas | Análise de ...  ...  Betim
24      The answer is in the stars ~ lofi hip hop mix  ...  Betim
25            Chilled Sexy Lofi Music Mix 1hr Relax 🌙  ...  Betim
26   O poder do GROUPBY (pacote Pandas)| Análise d...  ...  Betim
27   Um candidato de 98 anos fez o ENEM! | Análise...  ...  Betim
28                    Chilled Sexy Lofi Music Mix 1hr  ...  Betim
29   Um candidato de 98 anos fez o ENEM! | Análise...  ...  Betim
30   VARIÁVEIS CATEGÓRICAS no Pandas,, dataset GRA...  ...  Betim
31   Como manipular um DataFrame e EXPORTAR para C...  ...  Betim
32   Python PANDAS - Como alterar uma coluna basea...  ...  Betim
33   Um candidato de 98 anos fez o ENEM! | Análise...  ...  Betim
34                                 Tableau - Grouping  ...  Betim
35   Um candidato de 98 anos fez o ENEM! | Análise...  ...  Betim
36   Como abrir(importar) um dataset em Python? | ...  ...  Betim
37   VOCÊ SABE EXTRAIR INFORMAÇÕES DE DADOS? | Aná...  ...  Betim
38              Henrique e Juliano -  RASTEIRA - Guia  ...  Betim
39      Henrique e Juliano - DE GARRAFA A PIOR - Guia  ...  Betim
40   CD Completo Henrique e Juliano 2019 - Menos é...  ...  Betim
41             Henrique e Juliano - SEU PERFIL - Guia  ...  Betim
42        Henrique e Juliano - A MAIOR SAUDADE - Guia  ...  Betim
43              Luan Santana - MORENA (Clipe Oficial)  ...  Betim
44   Gusttavo Lima  12 NOVA MÚSICA JUNHO DE 2021 (...  ...  Betim
45   Como usar o Google COLAB para ANALISAR DADOS?...  ...  Betim
46            Elizeu Alves - Homenzinho Torto #AoVivo  ...  Betim
47          Ring-mod soundscape on the Seaboard GRAND  ...  Betim
48   VOCÊ SABE EXTRAIR INFORMAÇÕES DE DADOS? | Aná...  ...  Betim
49   " LÁZARO BARBOSA O SERIAL KILLER DE BRASÍLIA ...  ...  Betim
50   Introdução  à Big Data e Engenharia de Dados ...  ...  Betim
51   Harder, Better, Faster, Stronger | Daft Punk ...  ...  Betim
52                      Imagine Dragons - Radioactive  ...  Betim
53   I Will Survive + Maroon 5 Mashup | Pomplamoos...  ...  Betim
54                         IZA - I Put a Spell On You  ...  Betim
55   Kaleo - I Can't Go on Without You (live on 89...  ...  Betim
56   Sweet Dreams + White Stripes Mashup | Pomplam...  ...  Betim
57   Everybody Wants to Rule the World | Tears for...  ...  Betim

[50 rows x 11 columns]

Spotify

Artistas mais reproduzidos

In [ ]:
df_jun_sf[['artistName','minPlayed']].groupby(['artistName'], as_index=False)\
                                     .agg({'minPlayed':'sum'})\
                                     .sort_values('minPlayed', ascending=False)\
                                     .head(10)

           artistName  minPlayed
214         Sam Smith     129.75
94    Imagine Dragons     108.54
193       Pomplamoose      69.15
145  Luíza & Maurílio      36.82
25      Billie Eilish      30.33
134     Lewis Capaldi      23.63
87             H.E.R.      23.22
65         Ed Sheeran      23.08
181    Olivia Rodrigo      21.62
154    Marcelo Jeneci      18.91

E quais foram as músicas que mais ouvi?

In [ ]:
df_jun_sf[['trackName','minPlayed']].groupby(['trackName'], as_index=False)\
                                     .agg({'minPlayed':'sum'})\
                                     .sort_values('minPlayed', ascending=False)\
                                     .head(10)

                 trackName  minPlayed
186            I Feel Love      12.72
321            Radioactive      12.15
440        drivers license      12.09
331                 Rocket      11.70
380  The Lighthouse Keeper      11.35
154                Forever      10.53
55                Believer      10.23
183      How Do You Sleep?      10.11
391   Too Good At Goodbyes      10.05
266               No Peace       9.44

E será que tinha um intervalo que eu gostava mais de ouvir música?

In [ ]:
df_jun_sf[['interval','minPlayed']].groupby(['interval'], as_index=False)\
                                                    .agg({'minPlayed':'sum'})\
                                                    .sort_values('minPlayed', ascending=False)\
                                                    .groupby('interval', as_index=False)\
                                                    .head(3)

    interval  minPlayed
3      Tarde     644.09
2      Noite     418.14
0  Madrugada     414.50
1      Manhã     116.67

In [ ]:
df_jun_sf[['artistName','interval','minPlayed']].groupby(['interval', 'artistName'])\
                                                    .agg({'minPlayed':'sum'})\
                                                    .sort_values('minPlayed', ascending=False)\
                                                    .groupby('interval', as_index=False)\
                                                    .head(3)\
                                                    .sort_values('interval')

                            minPlayed
interval  artistName
Madrugada Sam Smith            101.62
          Daniel Caesar         10.77
          Lewis Capaldi         10.14
Manhã     Marcelo Jeneci        14.08
          Tulipa Ruiz            7.97
          Summer Walker          7.54
Noite     Sam Smith             16.43
          Billie Eilish         12.81
          Imagine Dragons       10.97
Tarde     Imagine Dragons       87.26
          Pomplamoose           61.50
          Luíza & Maurílio      36.82

In [ ]:
round(df_jun_sf['minPlayed'].sum()/60)

27

O que mais ouvi na semana do projeto

In [ ]:
df_jun_sf.loc[(df_jun_sf['endTime'].dt.date >= pd.to_datetime('2021-06-18')) & (df_jun_sf['endTime'].dt.date <= pd.to_datetime('2021-06-30'))]

                 endTime           artistName  ... customInterval  local
6956 2021-06-19 23:28:00    Israel & Rodolffo  ...          Noite  Betim
6957 2021-06-19 23:30:00  Fernando & Sorocaba  ...          Noite  Betim
6958 2021-06-19 23:33:00       Jorge & Mateus  ...          Noite  Betim
6959 2021-06-19 23:36:00  Fernando & Sorocaba  ...          Noite  Betim
6960 2021-06-19 23:38:00         Vitor e Luan  ...          Noite  Betim
...                  ...                  ...  ...            ...    ...
7125 2021-06-27 14:28:00         Marisa Monte  ...        Estágio  Betim
7126 2021-06-27 14:34:00               Djavan  ...        Estágio  Betim
7127 2021-06-27 14:37:00  Adriana Calcanhotto  ...        Estágio  Betim
7128 2021-06-27 14:40:00          Elis Regina  ...        Estágio  Betim
7129 2021-06-27 14:44:00       Caetano Veloso  ...        Estágio  Betim

[174 rows x 8 columns]

In [ ]:
df_jun_sf.loc[(df_jun_sf['endTime'].dt.date >= pd.to_datetime('2021-06-18')) & (df_jun_sf['endTime'].dt.date <= pd.to_datetime('2021-06-30'))]\
         .groupby('artistName', as_index=False)\
         .size()\
         .sort_values('size',ascending=False)\
         .head(10)

             artistName  size
92            Sam Smith     5
28          Elis Regina     5
43      Imagine Dragons     5
50       Jorge & Mateus     4
22  Diego & Victor Hugo     4
76      Matheus & Kauan     4
35   Guilherme & Benuto     3
84       Olivia Rodrigo     3
9         Billie Eilish     3
63        Lewis Capaldi     3

Navegador

In [ ]:
df_jun_gc['title'].value_counts().head(10)

prouni.ipynb - Colaboratory                1776
Netflix                                     195
covid.ipynb - Colaboratory                  176
projeto4.ipynb - Colaboratory               163
qualified_semana19.ipynb - Colaboratory     108
(20) Página Inicial / Twitter                89
Database Projetos                            63
estudando_pandas.ipynb - Colaboratory        62
matplotlib.ipynb - Colaboratory              59
Analise PNAD ana.ipynb - Colaboratory        50
Name: title, dtype: int64

O mais acessado, o notebook do projeto 4 kkk

E o que eu acessava por intervalo do dia

In [ ]:
 df_jun_gc[['title','interval']].groupby(['interval', 'title'],as_index=False)\
                                                    .size()\
                                                    .sort_values('size', ascending=False)\
                                                    .groupby('interval', as_index=False)\
                                                    .head(3)\
                                                    .sort_values('interval')

       interval                                  title  size
511   Madrugada            prouni.ipynb - Colaboratory   355
262   Madrugada                                Netflix   102
171   Madrugada                      Database Projetos    62
883       Manhã            prouni.ipynb - Colaboratory   110
839       Manhã  estudando_pandas.ipynb - Colaboratory    61
558       Manhã                         (77) Pinterest    38
1980      Noite            prouni.ipynb - Colaboratory   795
1545      Noite                                Netflix    85
1861      Noite             covid.ipynb - Colaboratory    46
3040      Tarde            prouni.ipynb - Colaboratory   516
2904      Tarde             covid.ipynb - Colaboratory   117
3035      Tarde          projeto4.ipynb - Colaboratory   104

E as pesquisas relacionados a dados? Vamos dar uma olhada?

In [ ]:
df_jun_gc.query('title.str.contains("Dados") | title.str.contains("Python") | title.str.contains("Análise")\
| title.str.contains("SQL")', engine='python')

                                                  title  ...  local
175   Como construir belos gráficos com Python e Sea...  ...  Betim
176   Como construir belos gráficos com Python e Sea...  ...  Betim
185   Como construir belos gráficos com Python e Sea...  ...  Betim
242   (1214) Como combinar dois conjuntos de dados? ...  ...  Betim
243   (1214) Como combinar dois conjuntos de dados? ...  ...  Betim
...                                                 ...  ...    ...
8444                                            Análise  ...  Betim
8445                                            Análise  ...  Betim
8481                                            Análise  ...  Betim
8485                                            Análise  ...  Betim
8534  (912) Novidades do SQLAlchemy (orm async, 2.0 ...  ...  Betim

[470 rows x 6 columns]

Pesquisa semanas do projeto

In [ ]:
df_jun_gc.loc[(df_jun_gc['time_usec'].dt.date >= pd.to_datetime('2021-06-18')) & (df_jun_gc['time_usec'].dt.date <= pd.to_datetime('2021-06-30'))]

                                      title  ...  local
0                      Fotos - Google Fotos  ...  Betim
1                      Vídeo - Google Fotos  ...  Betim
2                      Fotos - Google Fotos  ...  Betim
3              Gerenciamento - Google Fotos  ...  Betim
4     Gestão do armazenamento do Google One  ...  Betim
...                                     ...  ...    ...
3657                                Netflix  ...  Betim
3658                                Netflix  ...  Betim
3659                                Netflix  ...  Betim
3660                                Netflix  ...  Betim
3661                                Netflix  ...  Betim

[3657 rows x 6 columns]

In [ ]:
df_jun_gc.loc[(df_jun_gc['time_usec'].dt.date >= pd.to_datetime('2021-06-18')) & (df_jun_gc['time_usec'].dt.date <= pd.to_datetime('2021-06-30'))]\
         .groupby(['title'], as_index=False)\
         .size()\
         .sort_values('size', ascending=False)\
         .head(10)

                                         title  size
722                prouni.ipynb - Colaboratory  1776
720              projeto4.ipynb - Colaboratory   163
379                                    Netflix    88
737    qualified_semana19.ipynb - Colaboratory    58
127      Analise PNAD ana.ipynb - Colaboratory    50
279      Gestão do armazenamento do Google One    27
752               soaresana (Ana Luiza Soares)    20
489        Search — pandas 1.2.5 documentation    18
755                  soaresana/projeto4-vamoai    17
406  Olá, este é o Colaboratory - Colaboratory    16

#### **Julho - O céu é o limite?**

DFs Julho

In [ ]:
df_jul_yt = df_youtube.loc[(df_youtube['time'] >= jul_inicio) & (df_youtube['time'] <= jul_fim)]

df_jul_sf = df_spotify_music.loc[(df_spotify_music['endTime'] >= jul_inicio) & (df_spotify_music['endTime'] <= jul_fim)]

df_jul_gc = df_nav.loc[(df_nav['time_usec'] >= jul_inicio) & (df_nav['time_usec'] <= jul_fim)]

YOUTUBE

In [ ]:
df_jul_yt.head()

Empty DataFrame
Columns: [title, titleUrl, time, channel_name, category, tags, duration, minutes, interval, customInterval, local]
Index: []

Canais mais assistidos

In [ ]:
df_out_yt['channel_name'].value_counts().head(10)

Categoria mais assistida

In [ ]:
df_out_yt['category'].value_counts()

Horários que mais assisti por intervalo e por hora do dia

In [ ]:
# Por intervalo
df_out_yt['interval'].value_counts()

In [ ]:
# Por horário do dia
df_out_yt.time.dt.hour.value_counts()

Tempo em minutos que passei assistindo cada categoria

In [ ]:
df_out_yt[['category', 'minutes']].groupby('category').agg({'minutes':'sum'}).sort_values('minutes', ascending=False)

Quantas horas passei no youtube nesse mês

In [ ]:
round(df_out_yt['minutes'].sum()/60,2)

Quantidade de vídeos assistidos por categoria em cada intervalo de tempo do dia

In [ ]:
df_out_yt[['category', 'interval']].groupby(['category', 'interval'], as_index=False).size().sort_values(['category','size'],ascending=False)

In [ ]:
df_out_yt.loc[df_out_yt['channel_name'] == 'Seja Um Data Scientist']

In [ ]:
df_out_yt.query('title.str.contains("Dados") | title.str.contains("Python") | title.str.contains("Análise")\
| title.str.contains("SQL")', engine='python')

Spotify

Artistas mais reproduzidos

In [ ]:
df_jul_sf[['artistName','minPlayed']].groupby(['artistName'], as_index=False)\
                                     .agg({'minPlayed':'sum'})\
                                     .sort_values('minPlayed', ascending=False)\
                                     .head(10)

         artistName  minPlayed
73   Olivia Rodrigo      44.79
51   Jorge & Mateus      39.21
94         The 1975      26.27
33         Dua Lipa      23.30
45  Imagine Dragons      20.87
88              Sia      20.61
93     Taylor Swift      19.15
99        The Kooks      14.69
27         Coldplay      14.53
98      The Killers      14.05

E quais foram as músicas que mais ouvi?

In [ ]:
df_jul_sf[['trackName','minPlayed']].groupby(['trackName'], as_index=False)\
                                     .agg({'minPlayed':'sum'})\
                                     .sort_values('minPlayed', ascending=False)\
                                     .head(10)

                         trackName  minPlayed
26                  Break My Heart      10.80
25               Boys Will Be Boys       8.31
188                drivers license       7.87
101                         Lovers       7.20
187                        deja vu       7.18
56                           FOOLS       6.58
191                       good 4 u       6.52
82             I Would Die for You       6.44
168                To Build A Home       6.19
115  New Person, Same Old Mistakes       6.05

E será que tinha um intervalo que eu gostava mais de ouvir música?

In [ ]:
df_jul_sf[['interval','minPlayed']].groupby(['interval'], as_index=False)\
                                                    .agg({'minPlayed':'sum'})\
                                                    .sort_values('minPlayed', ascending=False)\
                                                    .groupby('interval', as_index=False)\
                                                    .head(3)

    interval  minPlayed
3      Tarde     286.33
0  Madrugada     225.98
2      Noite      98.34
1      Manhã      98.11

In [ ]:
df_jul_sf[['artistName','interval','minPlayed']].groupby(['interval', 'artistName'])\
                                                    .agg({'minPlayed':'sum'})\
                                                    .sort_values('minPlayed', ascending=False)\
                                                    .groupby('interval', as_index=False)\
                                                    .head(3)\
                                                    .sort_values('interval')

                           minPlayed
interval  artistName
Madrugada Olivia Rodrigo       29.34
          The 1975             14.08
          Imagine Dragons      11.82
Manhã     The 1975             12.19
          The Killers           9.42
          Imagine Dragons       9.05
Noite     Jorge & Mateus       39.21
          Olivia Rodrigo       11.42
          Dua Lipa              9.87
Tarde     Lana Del Rey         13.30
          Os Mutantes          13.19
          Sia                  12.72

In [ ]:
round(df_jul_sf['minPlayed'].sum()/60)

12

Navegador

In [ ]:
df_jul_gc['title'].value_counts().head(10)

projeto4-Prouni.ipynb - Colaboratory                                     459
prouni.ipynb - Colaboratory                                              241
Cópia de prouni.ipynb - Colaboratory                                     117
Página Inicial / Twitter                                                  74
Netflix                                                                   68
VamoAI - Analise de dados com Python - Ana Luiza.ipynb - Colaboratory     47
Untitled3.ipynb - Colaboratory                                            38
(99+) Ana Luiza Soares | LinkedIn                                         38
(99+) LinkedIn                                                            34
SGA - Quadro de Horários                                                  31
Name: title, dtype: int64

E o que eu acessava por intervalo do dia

In [ ]:
 df_jul_gc[['title','interval']].groupby(['interval', 'title'],as_index=False)\
                                                    .size()\
                                                    .sort_values('size', ascending=False)\
                                                    .groupby('interval', as_index=False)\
                                                    .head(3)\
                                                    .sort_values('interval')

       interval                                              title  size
243   Madrugada                                            Netflix    36
315   Madrugada                     Untitled3.ipynb - Colaboratory    33
136   Madrugada   Feedback de Soft Skills - Projeto Final Módulo 4    22
529       Manhã                        prouni.ipynb - Colaboratory    35
440       Manhã                       (1) Página Inicial / Twitter    10
515       Manhã                     Untitled4.ipynb - Colaboratory    10
959       Noite                        prouni.ipynb - Colaboratory   185
949       Noite               projeto4-Prouni.ipynb - Colaboratory   172
874       Noite  VamoAI - Analise de dados com Python - Ana Lui...    45
1418      Tarde               projeto4-Prouni.ipynb - Colaboratory   279
1112      Tarde               Cópia de prouni.ipynb - Colaboratory   116
1276      Tarde                           Página Inicial / Twitter    29

E as pesquisas relacionados a dados? Vamos dar uma olhada?

In [ ]:
df_jul_gc.query('title.str.contains("Dados") | title.str.contains("Python") | title.str.contains("Análise")\
| title.str.contains("SQL")', engine='python')

                                                  title  ...  local
33    The Walrus Operator in Python. Learn what the ...  ...  Betim
34    O operador Walrus em Python. Aprenda o que é o...  ...  Betim
55    Learn Python, Data Viz, Pandas & More | Tutori...  ...  Betim
56    Comprehensive data exploration with Python | K...  ...  Betim
58    Python | Pandas DataFrame.nlargest() - Geeksfo...  ...  Betim
...                                                 ...  ...    ...
3353  Convite: Vamo AI | Analytics e Aplicação de Da...  ...  Betim
3365  Convite: Vamo AI | Analytics e Aplicação de Da...  ...  Betim
3413                       Prouni - Dados Abertos - MEC  ...  Betim
3684                 Prouni 2018 Dados | Tableau Public  ...  Betim
3698                 Prouni 2018 Dados | Tableau Public  ...  Betim

[201 rows x 6 columns]

#### Exportando os dados para .csv

In [ ]:
#Julho, agosto, setembro
df_jas_yt.to_csv ('jas_youtube.csv', index = None, header=True)
df_jas_sf.to_csv ('jas_spotify.csv', index = None, header=True) 
df_jas_gc.to_csv ('jas_navegador.csv', index = None, header=True) 

files.download('jas_youtube.csv')
files.download('jas_spotify.csv')
files.download('jas_navegador.csv')

In [ ]:
#Outubro
df_out_yt.to_csv ('out_youtube.csv', index = None, header=True)
df_out_sf.to_csv ('out_spotify.csv', index = None, header=True) 
df_out_gc.to_csv ('out_navegador.csv', index = None, header=True) 

files.download('out_youtube.csv')
files.download('out_spotify.csv')
files.download('out_navegador.csv')

In [ ]:
#Novembro, dezembro
df_nodez_yt.to_csv ('nov_dez_youtube.csv', index = None, header=True)
df_nodez_sf.to_csv ('nov_dez_spotify.csv', index = None, header=True) 
df_nodez_gc.to_csv ('jas_dez_navegador.csv', index = None, header=True) 

files.download('nov_dez_youtube.csv')
files.download('nov_dez_spotify.csv')
files.download('nov_dez_navegador.csv')

In [ ]:
#Janeiro
df_jan_yt.to_csv ('jan_youtube.csv', index = None, header=True)
df_jan_sf.to_csv ('jan_spotify.csv', index = None, header=True) 
df_jan_gc.to_csv ('jan_navegador.csv', index = None, header=True) 

files.download('jan_youtube.csv')
files.download('jan_spotify.csv')
files.download('jan_navegador.csv')

In [ ]:
#Fevereiro
df_fev_yt.to_csv ('fev_youtube.csv', index = None, header=True)
df_fev_sf.to_csv ('fev_spotify.csv', index = None, header=True) 
df_fev_gc.to_csv ('fev_navegador.csv', index = None, header=True) 

files.download('fev_youtube.csv')
files.download('fev_spotify.csv')
files.download('fev_navegador.csv')

In [ ]:
#Março
df_mar_yt.to_csv ('mar_youtube.csv', index = None, header=True)
df_mar_sf.to_csv ('mar_spotify.csv', index = None, header=True) 
df_mar_gc.to_csv ('mar_navegador.csv', index = None, header=True) 

files.download('mar_youtube.csv')
files.download('mar_spotify.csv')
files.download('mar_navegador.csv')

In [ ]:
#Abril e Maio
df_abmai_yt.to_csv ('abr_mai_youtube.csv', index = None, header=True)
df_abmai_sf.to_csv ('abr_mai_spotify.csv', index = None, header=True) 
df_abmai_gc.to_csv ('abr_mai_navegador.csv', index = None, header=True) 

files.download('abr_mai_youtube.csv')
files.download('abr_mai_spotify.csv')
files.download('abr_mai_navegador.csv')

In [ ]:
#Junho
df_jun_yt.to_csv ('jun_youtube.csv', index = None, header=True)
df_jun_sf.to_csv ('jun_spotify.csv', index = None, header=True) 
df_jun_gc.to_csv ('jun_navegador.csv', index = None, header=True) 

files.download('jun_youtube.csv')
files.download('jun_spotify.csv')
files.download('jun_navegador.csv')

In [ ]:
#Julho
df_jul_yt.to_csv ('jul_youtube.csv', index = None, header=True)
df_jul_sf.to_csv ('jul_spotify.csv', index = None, header=True) 
df_jul_gc.to_csv ('jul_navegador.csv', index = None, header=True) 

files.download('jul_youtube.csv')
files.download('jul_spotify.csv')
files.download('jul_navegador.csv')

In [ ]:
df_youtube.to_csv ('youtube_final.csv', index = None, header=True)
df_spotify.to_csv ('spotify.csv', index = None, header=True) 
df_nav.to_csv ('navegador.csv', index = None, header=True) 

files.download('youtube_final.csv')
files.download('spotify.csv')
files.download('navegador.csv')